<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="privacy-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#privacy-details" aria-expanded="false" aria-controls="privacy-details">
          Privacy note: How your bookmarks are stored
        </a>
      </h4>
    </div>
    <div id="privacy-details" class="panel-collapse collapse" role="tabpanel" aria-labelledby="privacy-heading">
      <div class="panel-body">
        <p>
          <strong>If you are logged in</strong>, your bookmarks are stored on our servers for as long as you keep them,
          and are saved as part of your account. These bookmarks are stored alongside your other account information
          (for example, alongside your PennKey) and are not accessible to other users. However, they are viewable by
          our systems administrators (that is, they are not stored encrypted).
        </p>

        <p>
          <strong>If you are not logged in</strong>, we will store your bookmarks until you close your browser.
          To do this, we create a temporary account for you, which is linked just to your browser (instead of to
          your name or PennKey). Once you close your browser, the link between your browser and the account is
          deleted. Your bookmarks and the temporary account then remain on our servers until the end of the day,
          when they are deleted alongside any temporary accounts created by other users. As mentioned above, the
          bookmarks are readable by our systems administrators until they are deleted (that is, they are not stored
          encrypted).
        </p>

        <p>
          <strong>Whether you are logged in or not</strong>, if you delete a bookmark, a record of the bookmark
          temporarily remains on our servers as part of a backup. These remaining records are deleted once per day.
        </p>

      </div>
    </div>
  </div>
</div>
