<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="modal-title" id="exampleModalLabel">Confirm Special Collection Viewing Request</div>
    </div>
    <div class="modal-body">
      <%= render 'requests/confirm/online_access' %>

      <p>This item is available for viewing in the special collections reading room by submitting a viewing request in
        the Aeon Special Collections system. You will need to create an account and request an appointment time to view
        the item in the reading room.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Go Back</button>
      <%= link_to 'Request to View', aeon_request_form_url_for(params[:mms_id], params[:holding_id]), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
