<%# override stock template from blacklight_advanced_search
  # so that we don't pick up xfacets
%>
<div class="advanced-facet-limits panel-group">
  <%= render_facet_partials facet_field_names_for_advanced_search %>
</div>
