
<div id="franklintabs">
  <a class="searchwidgettab" id="metatab" href="#meta">
    <h3 class="tabLabel">Catalog &amp; Articles+</h3> </a><a class="searchwidgettab" id="catalogtab" href="#catalog">
  <h3 class="tabLabel">Catalog</h3> </a><a class="searchwidgettab" id="articlestab" href="#articles">
  <h3 class="tabLabel">Articles+</h3> </a><a class="searchwidgettab" id="courserestab" href="http://dla.library.upenn.edu/dla/courseres/index.html">
  <h3 class="tabLabel">Course Reserves</h3> </a>

</div>

<!-- dummy classes on outer #content div to allow css override before pageload -->

<div id="content" class="cssoverride1 cssoverride2 cssoverride3 cssoverride4">

  <div id="contentliner">

    <nav id="metasearchholder">

      <form action="search.html" method="get" name="searchbox" id="metasrch">
        <label class="visually-hidden forsearch" for="q" id="q-ariaLabel">Search Catalog &amp; Articles</label>

        <table class="holdsearchfields" cellspacing="0" cellpadding="0" border="0">

          <tbody>

          <tr>

            <td class="holdmainq" colspan="2"><input id="q" name="q" type="text" aria-labelledby="q-ariaLabel" value="" placeholder="Find articles, books, journals &amp; more" class="searchfieldleft1 mainq"></td>

            <td class="holddlasearchbutton"><input type="submit" value="GO" class="dlasearchbutton"></td>

          </tr>

          </tbody>

        </table>

      </form>

    </nav>

    <nav id="catalogsearchholder">



      <form action="search.html" method="get" name="searchbox" id="catsrch">
        <label class="visually-hidden forsearch  catSearchLabel" for="q" id="q-ariaLabel">Search Catalog</label>

        <table class="holdsearchfields" cellspacing="0" cellpadding="0" border="0">

          <tbody>

          <tr>

            <td class="holdmainq"><input id="q" name="q" type="text" aria-labelledby="q-ariaLabel" value="" class="ssearchfieldleft1 mainq catalogonly" placeholder="Find books, journals, videos, &amp; more"></td>

            <td class="holdselectq"><select name="qt" aria-labelledby="q-ariaLabel">
              <option value="dla-standard" selected>Keyword</option>
              <option value="dla-advanced">Keyword Expert (use: AND, OR, NOT, "phrase")</option>
              <option value="disabled" disabled="true">--------</option>
              <option value="title_xfacet" browse-action="rbrowse.html">Title Browse (omit initial article: a, the, la, ...)</option>
              <option value="dla-title">Title Keyword</option>
              <option value="dla-journal">Journal Title Keyword</option>
              <option value="disabled" disabled="true">--------</option>
              <option value="author_creator_xfacet" browse-action="xbrowse.html">Author Browse (last name first)</option>
              <option value="dla-author">Author Keyword</option>
              <option value="disabled" disabled="true">--------</option>
              <option value="subject_xfacet" browse-action="xbrowse.html">Subject Heading Browse (Library of Congress)</option>
              <option value="dla-subject">Subject Heading Keyword</option>
              <option value="dla-genre">Form/Genre Heading Keyword</option>
              <option value="disabled" disabled="true">--------</option>
              <option value="call_number_xfacet" browse-action="rbrowse.html">Call Number Browse</option>
              <option value="dla-isxn">ISBN/ISSN</option></select></td>

            <td class="holddlasearchbutton"><input type="submit" value="GO" class="dlasearchbutton"></td>

          </tr>

          </tbody>

        </table>

      </form>





      <div class="holdadvsrchbutton catalogonly"><a href="advanced.html?qt=dla-advanced"><span class="nottablet notphone">Advanced&nbsp;Search</span><span class="tabletinline">Advanced</span></a></div>

    </nav>

    <nav id="articlesearchholder">

      <form onclick="ga('send', 'event', { eventCategory: 'FranklinHome', eventAction: 'Discovery', eventLabel: 'Articles Search Submit'});" class="summonform" id="articlessrch">

        <div class="input-append">


          <!-- Need to test syntax more before correcting
 <select class="homeSelect selectpicker"  name="articleScope" id="articleScope">
 <option value="s.q">Keywords</option>
 <option value="t.TitleCombined">Title</option>
 <option value="t.AuthorCombined">Author</option>
 </select>
 -->

          <input type="text" placeholder="Find articles &amp; more" id="searchboxArticle" name="s.q">
          <input type="submit" class="dlasearchbutton" value="GO">

        </div>

        <div class="limitOptions"><label class="checkbox inline"><input type="checkbox" value="IsScholarly,true,f" name="fvf" id="articleCheckBoxPeerReview"> Scholarly &amp; peer-review  only &nbsp;&nbsp;&nbsp;&nbsp;</label><label class="checkbox inline"><input type="checkbox" value="IsFullText,true,f" name="fvf" id="articleCheckBoxFulltext"> Full text only &nbsp;&nbsp;&nbsp;&nbsp;</label><label class="checkbox inline"><input type="checkbox" value="ContentType,Newspaper Article,t" name="fvf" id="articleFilter1"> Exclude Newspapers &nbsp;&nbsp;&nbsp;&nbsp;</label></div>

      </form>


      <div class="holdadvsrchbutton"><a href="http://upenn.summon.serialssolutions.com/advanced"><span class="nottablet notphone">Advanced&nbsp;Search</span><span class="tabletinline">Advanced</span></a></div>

    </nav>

    <nav id="placeholder"></nav>

    <div class="whitearea" style="clear:both;">

      <nav class="abovetoolbar">

        <div class="bigbuttons">




        </div>

        <div class="sendme">

          <div class="holdrss"><img src="images/common/spacer.gif" class="printspacer" alt="*">


          </div>


          <div class="holdsendtoprint"><img src="images/common/spacer.gif" class="sendmespacer" alt="*"><img id="print" alt="Print this page" title="Print this page" src="images/common/print.gif"></div>




        </div>



        <div class="holdbreadcrumbs" id="breadcrumbs">



          <div class="facetcrumb"><span>Limited to: </span>(No limits applied)

          </div>

        </div>

        <!-- min-height will have to change in ie -->

      </nav>





      <nav id="widgetcol2">


        <h2 class="widgetcolheader" id="filters">Filters</h2>






        <div xmlns:dla-tool="http://dla.upennlib/tools" xmlns:cinclude="http://apache.org/cocoon/include/1.0" xmlns:dla-snippet="http://dla.upennlib/snippet" class="catalogindex">

          <div class="standaloneheader">Browse by... <a href="ancillary.html?id=catalogs/franklin/usinglimits" title="How to use search limits"><img src="images/common/moreinfo.gif" alt="How to use search limits"></a></div>

          <!--http://dla.library.upenn.edu/dla/franklin/plugins/snippets/search.html?facet.limit=6&filter.format_facet.limit=-1&snippet.op=dla-franklin:facets&params-forward=false-->
          <div xmlns:dla-func="http://dla.upennlib/functions" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:dla-caption="http://dla.upennlib/caption" xmlns:dla-func="http://dla.upennlib/functions" xmlns:dla-caption="http://dla.upennlib/caption" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss" xmlns:dla="http://dla.upennlib/dla" xmlns:dla-tool="http://dla.upennlib/tools" xmlns:dla-franklin="http://dla.upennlib/franklin">
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H11">
                <div id="Z11" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="access_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=access_facet">Access</a></h3>
              </div>
              <div class="recordBodyjq" id="Y11">
                <div class="invisible">
                  <div>Filter by Access. 2 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.access_facet.val=Online">Online</a> (4,218,197)

                  </li>
                  <li><a href="search.html?filter.access_facet.val=At%20the%20library">At the library</a> (3,990,958)

                  </li>
                </ul>
              </div>
            </div>
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H12">
                <div id="Z12" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="format_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=format_facet">Format</a></h3>
              </div>
              <div class="recordBodyjq" id="Y12">
                <div class="invisible">
                  <div>Filter by Format. 19 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul class="nodot or format">
                  <li>
                    <div class="formatbook"><a href="search.html?filter.format_facet.val=Book">Book</a> (6,839,869)

                    </div>
                  </li>
                  <li>
                    <div class="formatgovdoc"><a href="search.html?filter.format_facet.val=Government%20document">Government document</a> (800,486)

                    </div>
                  </li>
                  <li>
                    <div class="formatjournal"><a href="search.html?filter.format_facet.val=Journal%2FPeriodical">Journal/Periodical</a> (360,541)

                    </div>
                  </li>
                  <li>
                    <div class="formatmicro"><a href="search.html?filter.format_facet.val=Microformat">Microformat</a> (290,236)

                    </div>
                  </li>
                  <li>
                    <div class="formatsound"><a href="search.html?filter.format_facet.val=Sound%20recording">Sound recording</a> (139,437)

                    </div>
                  </li>
                  <li>
                    <div class="formatscore"><a href="search.html?filter.format_facet.val=Musical%20score">Musical score</a> (105,459)

                    </div>
                  </li>
                  <li>
                    <div class="formatconf"><a href="search.html?filter.format_facet.val=Conference%2FEvent">Conference/Event</a> (104,845)

                    </div>
                  </li>
                  <li>
                    <div class="formatvideo"><a href="search.html?filter.format_facet.val=Video">Video</a> (58,327)

                    </div>
                  </li>
                  <li>
                    <div class="formatms"><a href="search.html?filter.format_facet.val=Manuscript">Manuscript</a> (54,677)

                    </div>
                  </li>
                  <li>
                    <div class="formatthesis"><a href="search.html?filter.format_facet.val=Thesis%2FDissertation">Thesis/Dissertation</a> (25,424)

                    </div>
                  </li>
                  <li>
                    <div class="formatdata"><a href="search.html?filter.format_facet.val=Datafile">Datafile</a> (10,993)

                    </div>
                  </li>
                  <li>
                    <div class="formatnewspaper"><a href="search.html?filter.format_facet.val=Newspaper">Newspaper</a> (9,808)

                    </div>
                  </li>
                  <li>
                    <div class="formatmap"><a href="search.html?filter.format_facet.val=Map%2FAtlas">Map/Atlas</a> (5,880)

                    </div>
                  </li>
                  <li>
                    <div class="formatunknown"><a href="search.html?filter.format_facet.val=Other">Other</a> (3,704)

                    </div>
                  </li>
                  <li>
                    <div class="formatwebapp"><a href="search.html?filter.format_facet.val=Database%2FWebsite">Database/Website</a> (2,213)

                    </div>
                  </li>
                  <li>
                    <div class="formatarchive"><a href="search.html?filter.format_facet.val=Archive">Archive</a> (1,375)

                    </div>
                  </li>
                  <li>
                    <div class="formatimage"><a href="search.html?filter.format_facet.val=Image">Image</a> (734)

                    </div>
                  </li>
                  <li>
                    <div class="format3D"><a href="search.html?filter.format_facet.val=3D%20object">3D object</a> (135)

                    </div>
                  </li>
                  <li>
                    <div class="formatprojectedgraphic"><a href="search.html?filter.format_facet.val=Projected%20graphic">Projected graphic</a> (10)

                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H13">
                <div id="Z13" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="author_creator_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=author_creator_facet">Author/Creator</a></h3>
              </div>
              <div class="recordBodyjq" id="Y13">
                <div class="invisible">
                  <div>Filter by Author/Creator. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.author_creator_facet.val=Great%20Britain.%20Parliament.%20House%20of%20Commons.">Great Britain. Parliament. House of Commons.</a> (107,131)

                  </li>
                  <li><a href="search.html?filter.author_creator_facet.val=Great%20Britain.%20Parliament.%20House%20of%20Commons">Great Britain. Parliament. House of Commons</a> (78,979)

                  </li>
                  <li><a href="search.html?filter.author_creator_facet.val=Gotham%20Book%20Mart%20Collection%20%28University%20of%20Pennsylvania%29">Gotham Book Mart Collection (University of Pennsylvania)</a> (71,695)

                  </li>
                  <li><a href="search.html?filter.author_creator_facet.val=United%20States.%20Congress.%20House">United States. Congress. House</a> (59,928)

                  </li>
                  <li><a href="search.html?filter.author_creator_facet.val=Culture%20Class%20Collection%20%28University%20of%20Pennsylvania%29">Culture Class Collection (University of Pennsylvania)</a> (38,989)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=author_creator_facet">
                  more...
                </a></div>
              </div>
            </div>
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H14">
                <div id="Z14" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="subject_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=subject_facet">Subject</a></h3>
              </div>
              <div class="recordBodyjq" id="Y14">
                <div class="invisible">
                  <div>Filter by Subject. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.subject_facet.val=United%20States">United States</a> (497,745)

                  </li>
                  <li><a href="search.html?filter.subject_facet.val=United%20States.">United States.</a> (366,356)

                  </li>
                  <li><a href="search.html?filter.subject_facet.val=United%20States%20Politics%20and%20government">United States Politics and government</a> (324,520)

                  </li>
                  <li><a href="search.html?filter.subject_facet.val=Great%20Britain">Great Britain</a> (275,638)

                  </li>
                  <li><a href="search.html?filter.subject_facet.val=United%20States.%20Congress.%20History">United States. Congress. History</a> (261,377)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=subject_facet">
                  more...
                </a></div>
              </div>
            </div>
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H15">
                <div id="Z15" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="language_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=language_facet">Language</a></h3>
              </div>
              <div class="recordBodyjq" id="Y15">
                <div class="invisible">
                  <div>Filter by Language. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.language_facet.val=English">English</a> (3,653,076)

                  </li>
                  <li><a href="search.html?filter.language_facet.val=German">German</a> (374,689)

                  </li>
                  <li><a href="search.html?filter.language_facet.val=French">French</a> (252,028)

                  </li>
                  <li><a href="search.html?filter.language_facet.val=Spanish">Spanish</a> (143,900)

                  </li>
                  <li><a href="search.html?filter.language_facet.val=Italian">Italian</a> (114,078)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=language_facet">
                  more...
                </a></div>
              </div>
            </div>
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H16">
                <div id="Z16" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="library_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=library_facet">Library</a></h3>
              </div>
              <div class="recordBodyjq" id="Y16">
                <div class="invisible">
                  <div>Filter by Library. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.library_facet.val=Van%20Pelt-Dietrich%20Library%20Center">Van Pelt-Dietrich Library Center</a> (2,262,010)

                  </li>
                  <li><a href="search.html?filter.library_facet.val=Penn%20Library%20Web">Penn Library Web</a> (1,581,707)

                  </li>
                  <li><a href="search.html?filter.library_facet.val=LIBRA">LIBRA</a> (1,459,798)

                  </li>
                  <li><a href="search.html?filter.library_facet.val=Special%20Collections">Special Collections</a> (363,332)

                  </li>
                  <li><a href="search.html?filter.library_facet.val=Rare%20Book%20and%20Manuscript%20Library">Rare Book and Manuscript Library</a> (273,937)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=library_facet">
                  more...
                </a></div>
              </div>
            </div>
            <div class="colunit                  closedjq">
              <div class="colunitheaderjq" id="H17">
                <div id="Z17" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="specific_location_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=specific_location_facet">Specific location</a></h3>
              </div>
              <div class="recordBodyjq" id="Y17">
                <div class="invisible">
                  <div>Filter by Specific location. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.specific_location_facet.val=Penn%20Library%20Web">Penn Library Web</a> (1,581,707)

                  </li>
                  <li><a href="search.html?filter.specific_location_facet.val=Van%20Pelt%20-%20Stacks">Van Pelt - Stacks</a> (1,576,711)

                  </li>
                  <li><a href="search.html?filter.specific_location_facet.val=LIBRA">LIBRA</a> (1,396,752)

                  </li>
                  <li><a href="search.html?filter.specific_location_facet.val=Van%20Pelt%20-%20Microtext">Van Pelt - Microtext</a> (156,439)

                  </li>
                  <li><a href="search.html?filter.specific_location_facet.val=Rare%20Book%20and%20Manuscript%20Library%20-%20Rare%20Book%20Collection">Rare Book and Manuscript Library - Rare Book Collection</a> (139,367)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=specific_location_facet">
                  more...
                </a></div>
              </div>
            </div>
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H18">
                <div id="Z18" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="publication_date_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=publication_date_facet">Publication date</a></h3>
              </div>
              <div class="recordBodyjq" id="Y18">
                <div class="invisible">
                  <div>Filter by Publication date. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.publication_date_facet.val=2000s">2000s</a> (831,544)

                  </li>
                  <li><a href="search.html?filter.publication_date_facet.val=1990s">1990s</a> (708,008)

                  </li>
                  <li><a href="search.html?filter.publication_date_facet.val=1980s">1980s</a> (501,747)

                  </li>
                  <li><a href="search.html?filter.publication_date_facet.val=2010s">2010s</a> (489,169)

                  </li>
                  <li><a href="search.html?filter.publication_date_facet.val=1970s">1970s</a> (462,674)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=publication_date_facet">
                  more...
                </a></div>
              </div>
            </div>
            <div class="colunit                  ">
              <div class="colunitheaderjq" id="H19">
                <div id="Z19" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="classification_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=classification_facet">Classification</a></h3>
              </div>
              <div class="recordBodyjq" id="Y19">
                <div class="invisible">
                  <div>Filter by Classification. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.classification_facet.val=P%20-%20Literature%20and%20Languages">P - Literature and Languages</a> (849,110)

                  </li>
                  <li><a href="search.html?filter.classification_facet.val=D%20-%20History%3A%20%20General%20and%20European">D - History:  General and European</a> (335,639)

                  </li>
                  <li><a href="search.html?filter.classification_facet.val=H%20-%20Social%20Science%2C%20Economics%2C%20Sociology">H - Social Science, Economics, Sociology</a> (327,739)

                  </li>
                  <li><a href="search.html?filter.classification_facet.val=B%20-%20Philosophy%2C%20Psychology%2C%20Religion">B - Philosophy, Psychology, Religion</a> (299,666)

                  </li>
                  <li><a href="search.html?filter.classification_facet.val=300%20-%20Social%20sciences">300 - Social sciences</a> (153,803)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=classification_facet">
                  more...
                </a></div>
              </div>
            </div>
            <div class="colunit                  closedjq">
              <div class="colunitheaderjq" id="H20">
                <div id="Z20" class="controljq"><img alt="hide/display content" src="images/common/spacer.gif"></div>
                <h3 id="genre_facet" class="recordDescriptionjq"><a class="bigpopup" href="browse.html?browse=genre_facet">Form/Genre</a></h3>
              </div>
              <div class="recordBodyjq" id="Y20">
                <div class="invisible">
                  <div>Filter by Form/Genre. 6 options are listed below. Each is followed by the number of records that match that option.</div>
                </div>
                <ul>
                  <li><a href="search.html?filter.genre_facet.val=Feature%20films.">Feature films.</a> (17,963)

                  </li>
                  <li><a href="search.html?filter.genre_facet.val=Documentary%20films.">Documentary films.</a> (10,643)

                  </li>
                  <li><a href="search.html?filter.genre_facet.val=Video%20recordings%20for%20the%20hearing%20impaired.">Video recordings for the hearing impaired.</a> (8,228)

                  </li>
                  <li><a href="search.html?filter.genre_facet.val=Film%20adaptations.">Film adaptations.</a> (4,644)

                  </li>
                  <li><a href="search.html?filter.genre_facet.val=Comedy%20films.">Comedy films.</a> (3,592)

                  </li>
                </ul>
                <div class="facetbrowsemore"><a class="bigpopup" href="browse.html?browse=genre_facet">
                  more...
                </a></div>
              </div>
            </div>
          </div>

        </div>


        <!-- facet collapser starts here. see l245, if action=search -->

        <div id="sidebarcontrol">

          <div id="hidecontrol">

            <div id="hidesidebar">

              <div id="facetcollapsestrip"></div>

              <div id="facetcollapsearrow"><img src="images/franklin/collapsearrow.png"></div>

            </div>

          </div>

          <div id="showcontrol">

            <div id="showsidebar">

              <div id="facetexpandstrip"></div>

              <div id="facetexpandarrow"><img src="images/franklin/expandarrow.png"></div>

            </div>

          </div>

        </div>

        <!-- facet collapser ends here -->


      </nav>

      <div id="dummycol2">
        This is a dummy column

      </div>

      <div id="col1">




        <!-- .............................. -->

        <!-- .... search page ............. -->




        <section>

          <div xmlns:dla-tool="http://dla.upennlib/tools" xmlns:cinclude="http://apache.org/cocoon/include/1.0" xmlns:dla-snippet="http://dla.upennlib/snippet" id="homepagecontent">

            <div id="libalert"></div>

            <div class="metaindex">

              <div class="metablurb" id="findingstuff">

                <h2 id="maincontent" class="invisible">Finding library resources on this site</h2>


                <div>
                  <h3 class="inline">Franklin: Catalog &amp; Articles+</h3> &nbsp;searches both Franklin: Catalog and Franklin: Articles+. This discovery tool provides access to many full-text resources
                  (journal articles, newspapers, ebooks, and more).
                </div>


                <p>Your search results will be displayed in two columns, with Catalog entries on the left and Articles+ results on the right.

                </p>


                <p>To filter results, click "View and filter" at the top of the Catalog or Articles+ results column.  You will be presented with
                  a number of "limits" that will allow you to refine your search within each section of Franklin: Discovery.
                </p>


                <h3>To search</h3>


                <ul>

                  <li><span>Enter keywords</span></li>

                  <li><span>For a phrase, enter words in quotes "&nbsp;"</span></li>

                  <li><span>use * asterisk to truncate one or more characters at the end of a word</span></li>


                </ul>


                <h3>For a known citation</h3>

                <ul>

                  <li><span>Use  <a id="sfxPopup" href="http://elinks.library.upenn.edu/?SS_Page=refiner">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a>.</span></li>

                </ul>

              </div>

              <div class="colnews">

                <h3 class="colnewsheader">

                  <div class="colnewslabel">

                    <div>Collection &nbsp;</div>

                  </div>

                  <div class="colnewslabelicon" title="news"></div>

                </h3>

                <div class="collection-news"></div>

                <div class="morenews"><a href="https://pennlibnews.wordpress.com/category/collection-news/">More collection news...</a></div>

              </div>

            </div>


            <div class="catalogindex" id="findingstuff">

              <p>
              <h3 class="inline">Franklin: Catalog</h3> &nbsp;contains records for many types of materials including books, ebooks, journal and newspaper titles, manuscripts, conference
              proceedings, musical scores, and more.
              </p>


              <p>Franklin: Catalog does not provide access to individual articles. </p>


              <h3>To find articles</h3>

              <ul class="">

                <li><span>Try Franklin: Articles+</span></li>

                <li><span>Use <a id="sfxPopup" href="http://elinks.library.upenn.edu/?SS_Page=refiner">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a> if you have a citation</span></li>

                <li><span><a href="http://www.library.upenn.edu/cgi-bin/res/sr.cgi?resourcetype=1">Browse databases by subject</a></span></li>


              </ul>


              <h3>To search</h3>

              <ul class="">

                <li><span>Type your search into the text box. You may use the dropdown menu to search in "Title," "Author," etc.</span></li>

                <li><span>Or choose the Advanced Search option.</span></li>

              </ul>


              <h3>More catalogs, including</h3>

              <ul class="">

                <li><span><a href="http://hdl.library.upenn.edu/1017/7119">LOLA</a> (Biddle Law Library Catalog)</span></li>

                <li><span><a target="_blank" href="https://dla.library.upenn.edu/ils/resourcesharing/">BorrowDirect/E-ZBorrow</a> (Search multiple library collections simultaneously)</span></li>

                <li><span><a target="_blank" href="http://hdl.library.upenn.edu/1017/7158">WorldCat</a></span></li>

                <li><a target="_blank" href="http://dla.library.upenn.edu/dla/vcat/">VCat</a> (Video collection)
                </li>

                <li><a target="_blank" href="http://dla.library.upenn.edu/dla/newbooks/">NewBooks+</a> (Recent acquisitions)
                </li>

                <li><a target="_blank" href="http://dla.library.upenn.edu/dla/fisher/">Fine Arts Library Image Collection</a>
                </li>

                <li><a target="_blank" href="http://dla.library.upenn.edu/dla/medren/">Penn in Hand</a> (Digital facsimiles of more than 1200 manuscripts)
                </li>

                <li><a target="_blank" href="http://dla.library.upenn.edu/dla/ead/">Penn Archival Finding Aids</a> (A supplement to Franklin for manuscripts and other primary resources)
                </li>

              </ul>



            </div>

            <div class="articleindex" id="findingstuff">

              <p>
              <h3 class="inline">Franklin: Articles+ </h3> &nbsp;is a discovery tool that allows you to search most of the Penn Libraries' full-text holdings (journal articles, magazines,
              newspapers, ebooks).  It's a great place to get started.
              </p>


              <p>To begin, type your search directly into the text box.  Use the checkbox options to limit the results that display. </p>


              <p><a href="http://guides.library.upenn.edu/articlesplus">For additional information about searching Articles+ See the Guide, Franklin: Articles+</a></p>



              <h3>More ways to find articles</h3>

              <ul class="">

                <li><span>Use <a id="sfxPopup" href="http://elinks.library.upenn.edu/?SS_Page=refiner">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a> if you have a citation</span></li>

                <li><span><a href="http://www.library.upenn.edu/cgi-bin/res/sr.cgi?resourcetype=1">Browse databases by subject</a></span></li>


              </ul>



            </div>

          </div>

        </section>



        <!-- .............................. -->

        <!-- .... record page ............. -->




        <!-- .............................. -->

        <!-- ... advanced search page ..... -->


      </div>

      <div class="extendwhitearea"></div>

    </div>
    <!-- end white area -->
  </div>
