// ---------------------------------------------------------------------
// Theme colors
$upenn-red: #990000;
$upenn-blue: #091f54;


// Theme-specific
$background: #fafafa;
$text-black: #050505;
$text-white: #ffffff;
