// ---------------------------------------------------------------------
// Theme colors
$upenn-darkest-red: #57000a;
$upenn-darker-red: #74000e;
$upenn-red: #990000;
$upenn-lighter-red: #c2004d;
$upenn-lightest-red: #e180a6;
$upenn-blue: #011f5b;
$upenn-darkest-blue: #000f3a;
$upenn-darker-blue: #00144d;
$upenn-lighter-blue: #045ea7;
$upenn-lightest-blue: #82afd3;
$upenn-orange: #ca5003;

// Theme-specific
$background: #ffffff;
$text-white: #f3f3f3;
$text-black: #050505;
$background-black: #000000;
$light-grey: #a7aeba;
$medium-grey: #757f8f;
$geit-blue: #2F3F7B;

// availability label colors:
$label-success-bg: #43784E;
$label-danger-bg: #9C0A00;
$label-default-bg: #5C5C5C;
$label-warning-bg: #E9B565;
$label-temporary-bg: #CA5003;
