// ---------------------------------------------------------------------
// Global theme variables

$font-family: "Source Sans Pro", sans-serif;

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

@font-face {
  font-family: 'Gentium Book Basic';
  src: font_path('GenBkBasR.ttf') format('truetype');
}




