<div class="row"> <!-- #EXTRACT:candidate Xapp/views/shared/_flash_messages.html.erb -->
  <div class="col-md-12">
    <div id="main-flashes">
      <%= yield %>
    </div>
    <%# franklin-alerts is for http://www.library.upenn.edu/scripts/franklin_alerts.js to use %>
    <div id="franklin-alerts"></div>
  </div>
</div>
