<footer class="footer" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 one">

        <h2>Penn Libraries</h2>

        <ul class="footerlinks">

          <li id="chooselibrarylink"><!-- 2 -->
            <a class="library-home-link" href="http://www.library.upenn.edu">Library Home</a>
          </li>
          <li><a href="https://www.library.upenn.edu/about/locations">Libraries &amp; Hours</a></li>

          <li><a href="<%= resourcesharing_path %>">BorrowDirect+/ILL</a></li>
          <li><a href="//libcal.library.upenn.edu/appointments">Make an appointment</a></li>

        </ul>

      </div>

      <div class="col-sm-3 two">

        <h2>Franklin Help</h2>

        <ul class="footerlinks">

          <li><a href="https://guides.library.upenn.edu/franklinaccount" target="_blank">Your Library Account</a></li>

          <li><a href="https://guides.library.upenn.edu/franklincatalog">Using Franklin Catalog</a></li>

          <li><a href="https://guides.library.upenn.edu/articlesplus">Using Franklin Articles+</a></li>

          <li><a href="https://guides.library.upenn.edu/usingeresources">Accessing E-Resources</a></li>
        </ul>

      </div>

      <div class="col-sm-3 three">

        <h2>CONTACT US</h2>
        <ul class="footerlinks">
          <li><a href="http://faq.library.upenn.edu/ask">Questions or comments</a></li>
          <% unless root_path %>
            <li id="footerchat">
              <div id="libchat_424b3bc441c9bd760d26a2d0dd03c906"></div><script type="text/javascript" src="//v2.libanswers.com/load_chat.php?hash=424b3bc441c9bd760d26a2d0dd03c906"></script>
            </li>
          <% end %>

        </ul>

      </div>

    </div>

    <div class="row">
      <div class="copyright col-sm-12">&copy; <a href="https://www.upenn.edu/">University of Pennsylvania</a></div>
    </div>

  </div>

</footer>
