<nav class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <div class="footer-bar-links-right">
          <%= yield :footer_bar_nav_links %>
        </div>
      </div>
    </div>
  </div>
</nav>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"/>
    </div>

    <div class="row">
      <div class="contact col-sm-12">&copy; <a href="https://www.upenn.edu/">University of Pennsylvania</a></div>
    </div>

  </div>

</footer>
