<section id="item-request-widget">
  <div class="panel panel-default">
    <div class="panel-heading">
      Request from Holdings
    </div>
    <div class="panel-body">
      <p>TODO</p>
    </div>
  </div>
</section>
