<section id="item-request-widget">
  <div class="panel panel-default">
    <div class="panel-heading">
      Request
    </div>
    <div class="panel-body">
      <form action="">
        <div class="form-group">
          <label for="request-item">Selection</label>
          <select name="request-item" id="request-item-select" class="form-control" data-mmsid="<%= document.alma_mms_id %>">
            <option value=""></option>
          </select>
        </div>
        <div class="form-group">
          <label for="">Delivery Method</label><br>
          <button type="submit" id="pap-request-button" class="btn btn-default request-button" value="pap" disabled>PickUp @ Penn</button>
          <button type="submit" id="bbm-request-button" class="btn btn-default request-button" value="bbm" disabled>Books by Mail</button>
          <button type="submit" id="sad-request-button" class="btn btn-default request-button" value="sad" disabled>Scan & Deliver</button>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="modal fade" id="confirm-request-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
