<section class="item-request-section-index">
  <button class="btn btn-primary btn-pod-get-it">
    <span class="glyphicon glyphicon-book"></span> <%= t('requests.widget.title') + ' from partner' %>
  </button>
</section>
