<section class="item-request-section-show">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-book"></span> <%= t('requests.widget.title') %>
      <%#= render 'requests/help_icon' %>
    </div>
    <div class="item-request-widget spinner" id="item-request-widget-for-<%= document.alma_mms_id %>">
      <div class="panel-body">
        <%= render 'requests/widget_form', document: document %>
      </div>
    </div>
  </div>
</section>
