@import 'font-awesome';

#sidebar .facets ul.facet-hierarchy {
  &, ul {
    padding-left: 0;
  }
  li.h-leaf {
    list-style: none;
  }
  li.h-node {
    list-style-image: none;
    list-style-type: none;
    padding-left: 1.2em;
    &.twiddle {
      &:before{
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.2em;
        width: 1.2em;
        content: '\f196';
      }
    }
    &.twiddle-open {
      list-style-image: none;
      list-style-type: none;
      &:before {
        content: "\f147";
      }
    }
  }
}

