<li class="list-group-item">
  <h3 class="list-group-item-heading">
    <label>
      <input type="radio" name="delivery" value="campus" id="campus-radio" class="campus-option-radio" /> <%= t('requests.labels.campus_delivery') %></label>
  </h3>
  <p class="list-group-item-text">
    <%= t('requests.delivery_messages.campus_html') %>
  </p>
</li>
