<li class="list-group-item">
  <h3 class="list-group-item-heading">
    <label>
      <input type="radio" name="delivery" value="college_house" id="college-house-radio" class="delivery-option-radio" /> <%= t('requests.labels.college_house_delivery') %></label>
  </h3>
  <p class="list-group-item-text">
    <%= t 'requests.delivery_messages.chd_html' %>
  </p>
  <div class="checkbox disabled">
    <label>
      <input id="chd_validation_checkbox" required="required" type="checkbox" value="1" name="chd_confirm" disabled>
      <%= t 'requests.labels.registered_chd' %>
    </label>
  </div>
</li>
