<% if display_alma_fulfillment_iframe?(document) %>
    <dt class="hidden-print"></dt>
    <dd class="hidden-print">
      <button class="btn btn-default availability-toggle-details reload-inactive-page" data-show-text="Show Availability Details" data-hide-text="Hide Availability Details">Show Availability Details</button>
    </dd>
<% end %>
