<% if display_alma_fulfillment_iframe?(document) %>
    <dt></dt>
    <dd>
      <button class="btn btn-default availability-toggle-details" data-show-text="Show Availability Details" data-hide-text="Hide Availability Details">Show Availability Details</button>
    </dd>
<% end %>