<div class="panel panel-default facet_limit expert-results bento-box" id="bento-results-expert">
  <%= render 'expert_help_header' %>
  <div id="ExpertOptions" class="expert-profile collapse">
    <div class="chatinfooter" id="libchat_e01c7dfc19ccf280f6594c20ee7fccc3">&nbsp;</div>
    <script type="text/javascript" src="https://v2.libanswers.com/load_chat.php?hash=e01c7dfc19ccf280f6594c20ee7fccc3"></script>
    <p><a href="https://www.library.upenn.edu/people/subject-specialists">See a list of all subject specialists.</a></p>
  </div>
</div>
