<div class="col-sm-12 about-blurb databases-landing-content">
  <p>Use Franklin's <span class="heading inline">Database search</span> to explore Penn Libraries' many database resources.  This search features additional filtering for delving into databases in selected academic disciplines.</p>
  <a>Visit the <a href="https://guides.library.upenn.edu/usingeresources">Using Electronic Resources research guide</a> to learn more about accessing database content.</p>
</div>