<div class="collapse-toggle panel-heading expert-box collapsed" data-toggle="collapse" data-target="#ExpertOptions">
  <h3 class="panel-title facet-field-heading expert-heading">
    <button data-no-turbolink="true" href="#">Expert help</button>
    
  </h3>
</div>