<div class="col-md-3 bento-box expert-results" id="bento-results-expert">
  <h3>Expert help</h3>
<% Blacklight::Solr::Response::SubjectSpecialists::Constants::SUBJECTS[subject.to_sym][0..0].each do |specialist| %>
  <hr />
  <div class="expert-profile">
    <p><a href="https://www.library.upenn.edu/people/subject-specialists">See a list of all subject specialists.</a></p>
    <%= image_tag specialist[:portrait], :alt => specialist[:display_name] %>
    <div class="upper-content">
      <%= link_to specialist[:display_name], profile_url(specialist[:display_name]), :class => 'link-to-profile' %>

        <% specialist[:subjects].each do |subject| %>
        <p class="expert-subject"><%= subject %></p>
        <% end %>

      <p><%= link_to specialist[:email], "mailto:#{specialist[:email]}" %></p>
    </div>
  </div>
<% end %>
</div>
