<div class="collapse-toggle panel-heading expert-box collapsed" data-toggle="collapse" data-target="#ExpertOptions">
  <h3 class="panel-title facet-field-heading expert-heading">
    <%= link_to "Expert help", "#", data: { 'no-turbolink': true } %>
  </h3>
</div>