<% # main container for facets/limits menu -%>
<% if facet_in_params?('format_f', 'Database/Website')  %>
<div id="azlist">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="">A</a></li>
    <li class="list-inline-item"><a href="">B</a></li>
    <li class="list-inline-item"><a href="">C</a></li>
    <li class="list-inline-item"><a href="">D</a></li>
    <li class="list-inline-item"><a href="">E</a></li>
    <li class="list-inline-item"><a href="">F</a></li>
    <li class="list-inline-item"><a href="">G</a></li>
    <li class="list-inline-item"><a href="">H</a></li>
    <li class="list-inline-item"><a href="">I</a></li>
    <li class="list-inline-item"><a href="">J</a></li>
    <li class="list-inline-item"><a href="">K</a></li>
    <li class="list-inline-item"><a href="">L</a></li>
    <li class="list-inline-item"><a href="">M</a></li>
    <li class="list-inline-item"><a href="">N</a></li>
    <li class="list-inline-item"><a href="">O</a></li>
    <li class="list-inline-item"><a href="">P</a></li>
    <li class="list-inline-item"><a href="">Q</a></li>
    <li class="list-inline-item"><a href="">R</a></li>
    <li class="list-inline-item"><a href="">S</a></li>
    <li class="list-inline-item"><a href="">T</a></li>
    <li class="list-inline-item"><a href="">U</a></li>
    <li class="list-inline-item"><a href="">V</a></li>
    <li class="list-inline-item"><a href="">W</a></li>
    <li class="list-inline-item"><a href="">X</a></li>
    <li class="list-inline-item"><a href="">Y</a></li>
    <li class="list-inline-item"><a href="">Z</a></li>
    <li class="list-inline-item"><a href="">Other</a></li>
  </ul>
  <!--<div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <span class="sr-only">Toggle facets</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <h2 class='facets-heading'>
      <%= t('blacklight.search.facets.title') %>
    </h2>
  </div>

  <div id="facet-panel-collapse" class="collapse panel-group">
    <%= render_facet_partials %>
  </div> -->
</div>
<% end %>
