<section class="landing-content">

  <p><span class="heading inline">Franklin: Catalog</span> &nbsp;contains records for many types of materials including books, ebooks, journal and newspaper titles, manuscripts, conference
  proceedings, musical scores, and more.</p>

  <p>Franklin: Catalog does not provide access to individual articles. </p>

  <h3 class="heading">To find articles</h3>

  <ul>

    <li><span>Try Franklin: Articles+</span></li>

    <li><span>Use <a class="article-finder-link">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a> if you have a citation</span></li>

    <li><span><a href="http://www.library.upenn.edu/cgi-bin/res/sr.cgi?resourcetype=1">Browse databases by subject</a></span></li>


  </ul>


  <h3 class="heading">To search</h3>

  <ul>

    <li><span>Type your search into the text box. You may use the dropdown menu to search in "Title," "Author," etc.</span></li>

    <li><span>Or choose the Advanced Search option.</span></li>

  </ul>


  <h3 class="heading">More catalogs, including</h3>

  <ul>

    <li><span><a href="http://hdl.library.upenn.edu/1017/7119">LOLA</a> (Biddle Law Library Catalog)</span></li>

    <li><span><a target="_blank" href="<%= resourcesharing_path %>">BorrowDirect/E-ZBorrow</a> (Search multiple library collections simultaneously)</span></li>

    <li><span><a target="_blank" href="http://hdl.library.upenn.edu/1017/7158">WorldCat</a></span></li>

    <li><a target="_blank" href="http://dla.library.upenn.edu/dla/fisher/">Fine Arts Library Image Collection</a>
    </li>

    <li><a target="_blank" href="http://dla.library.upenn.edu/dla/medren/">Penn in Hand</a> (Digital facsimiles of more than 1200 manuscripts)
    </li>

    <li><a target="_blank" href="http://dla.library.upenn.edu/dla/ead/">Penn Archival Finding Aids</a> (A supplement to Franklin for manuscripts and other primary resources)
    </li>

  </ul>

</section>
