<section class="landing-content">

  <h3><span class="heading inline">POD (Platform for Open Discovery)</span> &nbsp;proof of concept test instance</h3>
  <ul>
    <li><span>This proof-of-concept test interface is intended only for testing by librarians and showcasing shared indexing issues. It does not represent an end-user experience. We used Penn’s blacklight-test instance to load the data, so it does have some of the end-user UI of the Franklin catalog, but that was just for speed and convenience of getting a demo running.</span></li>
  </ul>

</section>
