<section class="landing-content">

  <h3><span class="heading inline">Franklin Catalog</span> &nbsp;lets you:</h3>
  <ul>
    <li><span>Find print books, ebooks, journal and newspaper titles, sound recordings, videos, conference proceedings, music scores, manuscripts, and other resources owned or subscribed to by the Penn Libraries.</span></li>
    <li><span>See location and status information for print works, and links to online materials.</span></li>
    <li><span>Place requests for <a href="<%= t('franklin.pap_info_link') %>">PickUp@Penn</a> or <a href="<%= t('franklin.bbm_info_link') %>">Books by Mail</a> (when logged in).</span></li>
    <li><span>Find and access public-domain books and journals from <a href="https://www.hathitrust.org/">HathiTrust</a>.</span></li>
  </ul>

  <h3 class="heading">Other Penn Resources</h3>

  <ul>

    <li><span>Use <a href="https://franklin.library.upenn.edu/#articles">Franklin: Articles+</a> to search for individual articles.</span></li>

    <li><span>Use <a class="article-finder-link">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a> to find content subscribed to by Penn Libraries.</span></li>

    <li><span><a href="https://franklin.library.upenn.edu/catalog?f%5Bformat_f%5D%5B%5D=Database+%26+Article+Index">Browse databases by subject</a>.</span></li>

    <li><span><a href="https://library.artstor.org/">Image collections</a>.</span></li>

    <li><span>Rare books, manuscripts, and other <a href="https://www.library.upenn.edu/kislak/">special collections</a>.</span></li>

    <li><span><a href="https://www.law.upenn.edu/library/research/catalog-search.php">Search Center (Law Catalog)</a></span></li>

  </ul>


  <h3 class="heading">Search and Request from Other Libraries</h3>

  <ul>

    <li><span><a href="https://franklin.library.upenn.edu/forms/resourcesharing">BorrowDirect/E-ZBorrow</a> (Search multiple library collections simultaneously).</span></li>

    <li><span><a href="http://hdl.library.upenn.edu/1017/7158">WorldCat</a> (Union catalog of the holdings of libraries worldwide).</span></li>

  </ul>

</section>
