<div id="heavily-used-databases">
  <h2 class="sr-only">Links to heavily-used databases</h2>
  <ul class="list-inline">
    <li><a href="http://hdl.library.upenn.edu/1017/13911">Google Scholar</a></li>
    <li><a href="http://hdl.library.upenn.edu/1017/6965">JSTOR</a></li>
    <li><a href="http://hdl.library.upenn.edu/1017/8162">PubMed Plus</a></li>
    <li><a href="http://hdl.library.upenn.edu/1017/57123">Scopus</a></li>
    <li><a href="http://hdl.library.upenn.edu/1017/7075">ScienceDirect</a></li>
    <li><a href="http://hdl.library.upenn.edu/1017/125167">EBSCO</a></li>
    <li><a href="http://hdl.library.upenn.edu/1017/6959">Web of Science</a></li>
  </ul>
</div>
<div id="<%= display_facet.name %>">
  <h2 class="sr-only"><%= facet_field.label %></h2>
  <ul class="list-inline">
    <% paginator = facet_paginator(facet_field, display_facet) %>
    <%= render_facet_limit_list paginator, facet_field.key, :li, {:suppress_count => true} %>
  </ul>
</div>
