<div class="row landing-content">
  <div class="col-md-12">

    <h3 class="inline">Franklin: Articles+ </h3> &nbsp;is a discovery tool that allows you to search most of the Penn Libraries' full-text holdings (journal articles, magazines,
    newspapers, ebooks).  It's a great place to get started.
    <p></p>

    <p>To begin, type your search directly into the text box.  Use the checkbox options to limit the results that display. </p>

    <p><a href="http://guides.library.upenn.edu/articlesplus">For additional information about searching Articles+ See the Guide, Franklin: Articles+</a></p>

    <h3>More ways to find articles</h3>

    <ul class="">
      <li><span>Use <a id="sfxPopup" href="http://elinks.library.upenn.edu/?SS_Page=refiner">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a> if you have a citation</span></li>

      <li><span><a href="http://www.library.upenn.edu/cgi-bin/res/sr.cgi?resourcetype=1">Browse databases by subject</a></span></li>

    </ul>
  </div>
</div>
