<div class="sticky-chat">
    <script src="https://faq.library.upenn.edu/load_chat.php?hash=15c79c53182e201520a47857fb3d1e96"></script>
    <div id="libchat_15c79c53182e201520a47857fb3d1e96"></div>
  </div>
<div class="landing-content">

  <div id="sidebar" class="col-md-3 col-sm-4">
    <div class="panel panel-default facet_limit other-links">
      <div class="panel-heading">
        <h2 class="panel-title facet-field-heading">Other resources</h2>
      </div>
      <ul class="facet-values list-unstyled">
        <li><a href="https://franklin.library.upenn.edu/forms/resourcesharing">BorrowDirect / E-ZBorrow</a></li>
        <li><a href="https://www.library.upenn.edu/instruction-and-course-support/course-reserves">Course reserves</a></li>
        <li><a href="https://www.jstor.org/images">JSTOR image collections</a></li>
        <li><a href="https://faq.library.upenn.edu/search/">Library FAQs</a></li>
        <li><a href="https://upenn.alma.exlibrisgroup.com/discovery/citationlinker?vid=01UPENN_INST:Services&lang=en">PennText Article Finder</a></li>
        <li><a href="https://guides.library.upenn.edu/hometabs">Research guides</a></li>
        <li><a href="https://repository.upenn.edu/">ScholarlyCommons</a></li>
        <li><a href="https://www.law.upenn.edu/library/research/catalog-search.php">Search Center (Law Catalog)</a></li>
        <li><a href="https://hdl.library.upenn.edu/1017/7158">WorldCat</a></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-6 about-blurb">
    <p>
      Search <span class="heading inline">Franklin</span> to explore a wide selection of library print and electronic books, journal and newspaper articles, videos, sound recordings, manuscripts, conference proceedings, and many other resources owned or subscribed to by the Penn Libraries.
    </p>

  </div>
  <div class="col-sm-6">

    <div class="colnews">

      <div class="colnewsheader heading">

        <div class="colnewslabel">

          <div>Collection &nbsp;</div>

        </div>

        <div class="colnewslabelicon" title="news"></div>

      </div>

      <div class="collection-news">
      </div>

      <div class="morenews"><a href="https://www.library.upenn.edu/blogs/libraries-news">More collection news...</a></div>

    </div>

  </div>
</div>
