
<div class="landing-content">
  <div class="col-sm-6">
    <p>
      <span class="heading inline">Franklin</span> &nbsp;consists of two search tools: <span class="heading inline">Franklin Catalog &amp; Franklin Articles+</span>. Together they provide access to print and electronic books, journal and newspaper articles, videos, sound recordings, manuscripts, conference proceedings, and many other resources owned or subscribed to by the Penn Libraries.
      (journal articles, newspapers, ebooks, and more).
    </p>

    <p>When Catalog &amp; Articles+ are searched together, the results display in two columns, with Catalog entries on the left and Articles+ results on the right. Click "View and filter" at the top of a results column to refine a search within each resource.</p>

  </div>
  <div class="col-sm-6">

    <div class="colnews">

      <div class="colnewsheader heading">

        <div class="colnewslabel">

          <div>Collection &nbsp;</div>

        </div>

        <div class="colnewslabelicon" title="news"></div>

      </div>

      <div class="collection-news">
      </div>

      <div class="morenews"><a href="https://pennlibnews.wordpress.com/category/collection-news/">More collection news...</a></div>

    </div>

  </div>
</div>
