<div class="landing-content">
  <div class="col-sm-12">
    <h3><span class="heading inline">Franklin Articles+ </span> &nbsp;lets you find:</h3>

    <ul>
      <li><span>Books, ebooks, book chapters,  journal articles, newspaper articles, government publications, manuscripts, book reviews, conference proceedings, sound recordings, reference works, dissertations, and more.</span></li>
      <li><span>Full-text content subscribed to by Penn.</span></li>
      <li><span>Open-access material.</span></li>
      <li><span><a href="https://repository.upenn.edu/">ScholarlyCommons</a> content (University of Pennsylvania's institutional repository).</span></li>
    </ul>

    <h3 class="heading">More ways to find articles</h3>

    <ul>
      <li><span>Use <a class="article-finder-link">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a> if you have a citation.</span></li>

      <li><span><a href="https://franklin.library.upenn.edu/catalog?f%5Bformat_f%5D%5B%5D=Database+%26+Article+Index">Browse databases by subject</a>.</span></li>

    </ul>
  </div>
</div>
