
<div class="row landing-content">
  <div class="col-sm-6">
    <div>
      <h3 class="inline">Franklin: Catalog &amp; Articles+</h3> &nbsp;searches both Franklin: Catalog and Franklin: Articles+. This discovery tool provides access to many full-text resources
      (journal articles, newspapers, ebooks, and more).
    </div>

    <p>Your search results will be displayed in two columns, with Catalog entries on the left and Articles+ results on the right.</p>

    <p>To filter results, click "View and filter" at the top of the Catalog or Articles+ results column.  You will be presented with
      a number of "limits" that will allow you to refine your search within each section of Franklin: Discovery.</p>

    <h3>To search</h3>

    <ul>
      <li><span>Enter keywords</span></li>
      <li><span>For a phrase, enter words in quotes "&nbsp;"</span></li>
      <li><span>use * asterisk to truncate one or more characters at the end of a word</span></li>
    </ul>

    <h3>For a known citation</h3>

    <ul>
      <li><span>Use  <a id="sfxPopup" href="http://elinks.library.upenn.edu/?SS_Page=refiner">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a>.</span></li>
    </ul>
  </div>
  <div class="col-sm-6">

    <div class="colnews">

      <h3 class="colnewsheader">

        <div class="colnewslabel">

          <div>Collection &nbsp;</div>

        </div>

        <div class="colnewslabelicon" title="news"></div>

      </h3>

      <div class="collection-news">
        <!--
        <div class="feed-container"><div class="feed-item"><div class="item-title"><a target="_new" href="https://pennlibnews.wordpress.com/2016/11/16/access-newspaper-archive/">Access Newspaper Archive</a></div><div class="itemdesc"><content>Newspaperarchive.com is an online archives of historical newspapers published from the 18th to the 21st century with international coverage.&nbsp; It...</content></div><span>Posted: Nov 16</span></div><div class="feed-item"><div class="item-title"><a target="_new" href="https://pennlibnews.wordpress.com/2016/11/16/slavery-in-america-and-the-world-history-culture-law/">Slavery in America and the World: History, Culture &amp; Law</a></div><div class="itemdesc"><content>“Slavery in America and the World: History, Culture &amp; Law brings together, for the first time, all known legal materials on slavery in the United...</content></div><span>Posted: Nov 16</span></div><div class="feed-item"><div class="item-title"><a target="_new" href="https://pennlibnews.wordpress.com/2016/11/15/historymakers/">HistoryMakers Digital Archive of African American First Person Testimonies</a></div><div class="itemdesc"><content>A unique resource for both faculty and students, The HistoryMakers Digital Archive contains thousands of hours of videotaped first person testimony...</content></div><span>Posted: Nov 15</span></div></div></div>
        -->
      </div>

      <div class="morenews"><a href="https://pennlibnews.wordpress.com/category/collection-news/">More collection news...</a></div>

    </div>

  </div>
</div>