
<div class="landing-content">
  <div class="col-sm-6">
    <p>
      <span class="heading inline">Franklin: Catalog &amp; Articles+</span> &nbsp;searches both Franklin: Catalog and Franklin: Articles+. This discovery tool provides access to many full-text resources
      (journal articles, newspapers, ebooks, and more).
    </p>

    <p>Your search results will be displayed in two columns, with Catalog entries on the left and Articles+ results on the right.</p>

    <p>To filter results, click "View and filter" at the top of the Catalog or Articles+ results column.  You will be presented with
      a number of "limits" that will allow you to refine your search within each section of Franklin: Discovery.</p>

    <h3 class="heading">To search</h3>

    <ul>
      <li><span>Enter keywords</span></li>
      <li><span>For a phrase, enter words in quotes "&nbsp;"</span></li>
      <li><span>use * asterisk to truncate one or more characters at the end of a word</span></li>
    </ul>

    <h3 class="heading">For a known citation</h3>

    <ul>
      <li><span>Use <a class="article-finder-link">Penn<span class="minishield">&nbsp;&nbsp;&nbsp;</span>Text Article Finder</a>.</span></li>
    </ul>
  </div>
  <div class="col-sm-6">

    <div class="colnews">

      <div class="colnewsheader heading">

        <div class="colnewslabel">

          <div>Collection &nbsp;</div>

        </div>

        <div class="colnewslabelicon" title="news"></div>

      </div>

      <div class="collection-news">
      </div>

      <div class="morenews"><a href="https://pennlibnews.wordpress.com/category/collection-news/">More collection news...</a></div>

    </div>

  </div>
</div>