<% if current_user %>
    <dt class="hidden-print"></dt>
    <dd class="hidden-print">
      <%= link_to 'Request Options', url_for_document(document), document_link_params(document, "class" => "btn btn-default") %>
    </dd>
<% else %>
    <dt class="hidden-print"></dt>
    <dd class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Login to view request options <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <%# Is there a better way to construct the URL to the record? %>
      <li class="small"><a href="<%= accounts_login_url(next: request.original_url) %>">Current faculty, student, staff login</a></li>
      <li role="separator" class="divider"></li>
      <li class="small"><a href="https://guides.library.upenn.edu/franklinaccount#s-lg-box-19646803">Registered alumni and courtesy user login</a></li>
    </ul>
    </dd>
<% end %>
