<div id="documents" class="noresults">
  <h3>Your catalog search found no results. Possible solutions:</h3>
  <ul>

    <li>Check spelling.</li>

    <li>Remove some limits by clicking the x (<span class="glyphicon glyphicon-remove"></span>).</li>

    <li>Remove some search terms.</li>

    <li><a href="http://gethelp.library.upenn.edu/">Ask Us</a> for help.</li>

    <li>We may not own the item. Place a request using <a href="<%= resourcesharing_path %>">BorrowDirect+</a>.</li>

    <li>Only journal titles—not articles—are listed in Franklin. For articles, try

      <div>- &nbsp;<a href="http://<%= ENV['SUMMON_ACCESS_ID'] %>.summon.serialssolutions.com/">Articles+</a></div>

      <div>- &nbsp;<a href="http://www.library.upenn.edu/cgi-bin/res/sr.cgi">Subject databases</a></div>

    </li>

  </ul>
</div>
