<div id="documents" class="noresults">
  <h3>Your catalog search found no results. Possible solutions:</h3>
  <ul>

    <li>Check spelling.</li>

    <li><a href="http://gethelp.library.upenn.edu/">Ask Us</a> for help.</li>

    <li>We may not own the item. Place a request using <a href="<%= resourcesharing_path %>">BorrowDirect+</a>.</li>

    <li>Only journal titles—not articles—are listed in the Catalog. For articles, see the results under the Articles+ panel.</li>

  </ul>
</div>
