<div class="row">

    <div class="col-sm-6">
      <h3>Catalog</h3>

      <div class="text-right">
      <%= link_to "View and filter #{number_with_delimiter(@response.total)} results", search_catalog_path(q: params[:q] || params[:query]) %>
      </div>

      <%- if @response.empty? %>
          <%= render "zero_results" %>
      <%- else %>
          <%= render_document_index %>
      <%- end %>
    </div>

    <div class="col-sm-6">
      <%= bento_search 'summon', :query => params[:q], :load => :ajax_auto %>
    </div>

</div>
