<div class="row">

    <div class="col-sm-6 catalog-results">
      <h3>Catalog</h3>

      <div class="view-and-filter text-right">
      <%= link_to "View and filter #{number_with_delimiter(@response.total)} results", search_catalog_path(q: params[:q] || params[:query], search_field: 'all_fields') %>
      </div>

      <%- if @response.empty? %>
          <%= render "zero_results" %>
      <%- else %>
          <%= render_document_index %>
      <%- end %>
    </div>

    <div class="col-sm-6 summon-results ezproxy-login-status">
      <%# TODO: set the right value for auth depending on a determination of whether user is logged in, which we don't have yet %>
      <%# this doesn't actually work yet b/c of a bug in BentoSearch::SummonEngine's detection of auth argument; a PR is pending %>
      <%= bento_search 'summon', :query => params[:q], :auth => 'true', :per_page => 25, :load => :ajax_auto %>
    </div>

</div>
