<%# this page is obsolete, keeping it for historical purposes %>

<h2>No PennKey?</h2>

<p>This page should explain what to do if you don't have a PennKey. TODO.</p>

<p>One option is to <a href="<%= alma_social_login_url %>">login using a Google account</a>.</p>
