<h2>ILL Request</h2>

<% if @request['TransactionStatus'] == 'Delivered to Web' %>
  <%= link_to 'Download PDF', pdf_download_url(@request['TransactionNumber']), class: 'btn btn-primary' %>
<% end %>

<dl>
  <dt>
    Transaction Number
  </dt>
  <dd>
    <%= @request['TransactionNumber'] %>
  </dd>
  <dt>
    Title
  </dt>
  <dd>
    <%= @request['LoanTitle'] || @request['PhotoJournalTitle'] %>
  </dd>
</dl>

<div class="well">
  <%= @request %>
</div>
