$(document).ready(function() {

    // subclass BlacklightAlma
    function Franklin() {
        BlacklightAlma.call(this);
    }

    function constructAeonLink(mmsid, holding) {
        if(holding['link_to_aeon']) {
          return '<a href="/redir/aeon?bibid=' + mmsid + '&hldid=' + holding['holding_id'] + '" target="_blank">Request to View</a>';
        }

        return null;
    }

    Franklin.prototype = Object.create(BlacklightAlma.prototype);

    Franklin.prototype.formatHolding = function (mms_id, holding) {
        if (holding['inventory_type'] == 'physical') {
            var availability = "Unknown";
            if (holding['availability'] == 'check_holdings') {
                availability = "See availability details";
            } else if (holding['availability'] == 'unavailable') {
                availability = "Requestable";
            } else if (holding['availability'] == 'available') {
                availability = "Available";
            }
            // TODO: pass in format to shelfLocatorLink() somehow
            return [availability, holding['location'], holding['call_number'], $.shelfLocatorLink(mms_id, holding, "TODO"), constructAeonLink(mms_id, holding)]
                .filter(function (item) {
                    return item != null && item.length > 0;
                }).join(". ");
        } else if(holding['inventory_type'] == 'electronic') {

            if (holding['activation_status'] == 'Available') {
                var url = null;
                if (holding['portfolio_pid']) {
                    url = "https://<%= ENV['ALMA_DELIVERY_DOMAIN'] %>/view/uresolver/<%= ENV['ALMA_INSTITUTION_CODE'] %>/openurl?Force_direct=true&portfolio_pid=" +
                        holding['portfolio_pid'] + "&rfr_id=info%3Asid%2Fprimo.exlibrisgroup.com&u.ignore_date_coverage=true"
                }

                if (url !== null) {
                    var text = holding['collection'] || "Electronic resource";
                    url = '<a href="' + url + '">' + text + '</a>';
                } else {
                    url = "Electronic Resource (no URL available)";
                }

                return [url, holding['coverage_statement'], holding['public_note']]
                    .filter(function (item) {
                        return item != null && item.length > 0;
                    }).join(" - ");
            }

        } else {
            return BlacklightAlma.prototype.formatHolding.call(this, mms_id, holding);
        }
    };

    Franklin.prototype.renderAvailability = function (element, html) {
      // if there's no availability text at all, then hide the field label altogether
      if(html && html.length > 0) {
          BlacklightAlma.prototype.renderAvailability.call(this, element, html);
      } else {
          $(element).closest(".document").find(".blacklight-availability").hide();
      }
    };

    Franklin.prototype.loadRequestOptionsAjax = function(mmsid) {
        var url = "/alma/single_availability.json?mmsid=" + encodeURIComponent(mmsid);

        $("#requestOptions").DataTable({
            "ajax": url,
            "processing": true,
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            "language": {
              "search": "Filter records:",
              "loadingRecords": "&nbsp;",
              "processing": "Please wait - loading..."
            },
            "drawCallback": function(settings) {
                var table = $('#requestOptions').DataTable();
                var pageSize = table.settings()[0]['_iDisplayLength'];
                var tableLen = table.data().length;
                if(tableLen > pageSize) {
                  $('#requestOptions_filter').show()
                  $('#requestOptions_paginate').show()
                }
                else {
                  $('#requestOptions_filter').hide();
                  $('#requestOptions_paginate').hide();
                }
            },
            "initComplete": function(settings, json) {
                dataLen = json.data.length;
                if(dataLen == 0) {
                    $('#table-wrapper').hide();
                }
                // Reference: https://stackoverflow.com/a/15458987
                // Check if the location of the first holding is an HTML element,
                // indicating this is for a serial
                else if(/<[a-z][\s\S]*>/i.test(json.data[0][1])) {
                    $('#requestOptionsAvailability').text('Holdings');
                }
                else {
                    $('#requestOptionsAvailability').text('Availability');
                }


                $('.load-holding-details').each(function(idx, element) {
                    var mmsid = $(element).data("mmsid");
                    var holdingid = $(element).data("holdingid");
                    var url = "/alma/holding_details?mms_id="+mmsid+"&holding_id="+holdingid
                    $.ajax({
                        url: url,
                        success: function(data, textStatus,jqXHR) {
                            $(element).removeClass('load-holding-details');
                            $(element).html('');
                            $(element).append(data);
                        }
                    });
                });
            }
        });
    };

    Franklin.prototype.loadRequestOptionListAjax = function(mmsid) {
        $.ajax({
            url: "/alma/request_options.json?mms_id="+mmsid,
            success: function(data, textStatus, jqXHR) {
                var optionList = $('#requestOptionList');
                data.forEach(function(element) {
                    $('<button>').attr({
                        class: 'btn btn-basic',
                        style: 'padding: 3px; margin: 2px; margin-bottom: 16px; border-color: #aaa',
                        text: element['option_name'],
                        onclick: "window.open('" + element["option_url"] + "', '_blank')"
                    }).text(element['option_name']).appendTo(optionList);
  // request_options.map {|r| "<input type='button' class='btn btn-basic' style='padding: 3px; margin: 2px; margin-bottom: 16px; border-color: #aaa;' value='#{r}'/>"} .join("").html_safe 
                });
                $('#request-options-spinner').remove();
                console.log(data);
            }
        });   
    };

    Franklin.prototype.loadRequestOptions = function() {
        var mmsidList = $(".request-options-load").map(function (index, element) {
            return $(element).data("mmsid");
        }).get();

        mmsidList.forEach(function(mmsid) {
            Franklin.prototype.loadRequestOptionsAjax(mmsid);
            Franklin.prototype.loadRequestOptionListAjax(mmsid);
        });
    };

    Franklin.prototype.initializeItemsDataTable = function() {
        $('#holdingItems').DataTable({
            "dom": '<"backbutton-top">lftipr<"backbutton">',
            "processing": true,
            "columnDefs": [
                { "visible": false, "targets": 0 }
            ],
            "language": {
                "search": "Filter records:",
                "loadingRecords": "&nbsp;",
                  "processing": "Please wait - loading..."
            },
            "drawCallback": function(settings) {
                var table = $('#holdingItems').DataTable();
                var pageSize = table.settings()[0]['_iDisplayLength'];
                var tableLen = table.data().length;
                tableLen > pageSize ? $('#holdingItems_filter').show() : $('#holdingItems_filter').hide();
            },
            "initComplete": function(settings, json) {
                $('#holdingItems').show();
                $('#holdingItems_wrapper').hide();
            }
        });

        $('.backbutton-top').html("<br><br><input type='button' value='< Back' onclick='swapDataTables()'></input>");
        $('.backbutton').html("<br><br><input type='button' value='< Back' onclick='swapDataTables()'></input>");
    };

    var ba = new Franklin();
    ba.loadAvailability();
    ba.loadRequestOptions();
    ba.initializeItemsDataTable();
});

function loadItems(mms_id, holding_id) {
    var holdingItemsTable = $('#holdingItems').DataTable();
    holdingItemsTable.clear().draw();
    holdingItemsTable.ajax.url('/alma/holding_items.json?mms_id=' + mms_id + "&holding_id=" + holding_id).load();
    swapDataTables();
}

function swapDataTables() {
    $('#requestOptions_wrapper').toggle();
    $('#holdingItems_wrapper').toggle();
}
