<% content_for(:head) do %>
  <%= javascript_include_tag("/floorplans/hashchange.js") %>
  <%= javascript_include_tag("/floorplans/shelfmark_fisher.js") %>
  <%= javascript_include_tag("/floorplans/prepareGraph_fisher.js") %>
<% end %>
<div id="fisherfloorplan"></div>