<% content_for(:head) do %>
  <%= javascript_include_tag("/floorplans/hashchange.js") %>
  <%= javascript_include_tag("/floorplans/shelfmark_vp.js") %>
  <%= javascript_include_tag("/floorplans/prepareGraph_vp.js") %>
<% end %>
<div id="vpfloorplan"></div>