<div class="col col-md-4 col-lg-4 bento-box summon-results ezproxy-login-status" id="bento-results-summon">
  <a name="articles"></a>
  <div class="corner left-top hide"></div>
  <div class="corner right-top hide"></div>
  <h3>Articles+</h3>
  <%= bento_search 'summon', query: params[:q] || params[:query], per_page: 5, load: :ajax_triggered %>
</div>