<div class="bento-box databases-results" id="bento-results-databases">
  <a name="databases"></a>
  <div class="corner left-top hide"></div>
  <div class="corner right-top hide"></div>
  <h3>Databases</h3>
  <%= bento_search 'databases', query: params[:q] || params[:query], load: :ajax_auto %>
</div>