<div class="bento-box databases-results" id="bento-results-databases">
  <a name="databases"></a>
  <h3>Databases</h3>
  <%= bento_search 'databases', query: query_param_value, load: :ajax_auto %>
</div>