
@import 'base/globals.css.scss';
@import 'base/colors.css.scss';
@import 'base/mixins.css.scss';
#skip-link {
  margin: 0;
  padding: 0;
  position: absolute;
  height: 0;
  li {
    list-style-type: none;
    a {
      opacity: 0;
      background-color: #fff;
      width: 25rem;
      height: 6rem;
      padding: 2rem;
      position: fixed;
      z-index: 99999;
      text-align: center;
      pointer-events: none;
      top: 0;
      &:focus {
          opacity: 1;
      }
    }
  }
}

a,
a:hover, a:focus {
  color: #0778b3;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
  color: #000!important;
}
#facet-panel-collapse .collapse-toggle h3.facet-field-heading button,
.expert-box h3.panel-title.facet-field-heading.expert-heading button {
  border: none;
  background: transparent;
}
#facets .panel-title > a, 
#facets .panel-title > button,
#facets .panel-title > small, 
#facets .panel-title > .small, 
#facets .panel-title > small > a, 
#facets .panel-title > small > button, 
#facets .panel-title > .small > a,
#facets .panel-title > .small > button {
    color: #222;
    &:hover, &:focus {
      text-decoration:none;
    }
}
.expert-box h3.panel-title.facet-field-heading.expert-heading a, 
.expert-box h3.panel-title.facet-field-heading.expert-heading button, 
.expert-box.collapsed .panel-title > small, 
.expert-box.collapsed .panel-title > .small, 
.expert-box.collapsed .panel-title > small > a, 
.expert-box.collapsed .panel-title > small > button, 
.expert-box.collapsed .panel-title > .small > a,
.expert-box.collapsed .panel-title > .small > button {
    color: #fff;
    &:hover, &:focus, &:active {
      color: #fff!important;
      text-decoration:none;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .bento-box.databases-results,
  .bento-box.colenda-results,
  .bento-box.google-results {
    width: auto;
  }

  .bento-box,
  .libraries-results {
    width: 32.5%;
  }

}

/*AVAILABILITY*/
.holding-availability-area {
  .holding-availability-col{
    padding-left: 0;
  }
  .holding-info-row {
    font-size: 12px;
  }
}
.facet-values .document-metadata li {
  display: block;
}
.document-metadata  {
  @include no-list-style;
  li {
    text-indent: -14rem;
    margin: .2rem 0 1rem 14rem;
    clear:left;
  }
  li.blacklight-author_creator_a,
  li.blacklight-publication_a,
  li.blacklight-edition,
  li.blacklight-series,
  li.blacklight-format_a {
    text-indent: 0;
    margin-left: 0;
    margin-bottom: 0;
  }

}

.label-availability {
  padding:  0;
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
  margin-right: 3px;
  width: 12.3rem;
  display: inline;
  margin-right: 1.7rem;

  &.label-success,
  &.label-availability.label-warning,
  &.label-availability.label-danger {
    position: relative;
    top: .3rem;
    background-color: transparent;
    
    text-align: left;
    float: left;
    display:block;
    position: relative;
    &:before {
      content: "\25cf";
      margin: 0 .9rem 0 0;
      line-height: .01;
      position: relative;
      background: transparent !important;
      font-size: 2rem;
    }
  }

  &.label-warning {
    color: $label-warning-text;
    &:before {
      color: $label-warning-bg;
    }
  }
  &.label-success {
    color: $label-success-bg;
    &:before {
      color: $label-success-bg;
    }
  }
  &.label-danger {
    color: $label-danger-bg;
    &:before {
      color: $label-danger-bg;
    }
  }
  &.label-primary {
    padding: .4em .8em;
    font-size: 14px;
  }
}
.blacklight-availability {
  line-height: 175%;
}

.record-main-details dd.blacklight-status-location ul {
  @include no-list-style;
  li {
    margin-left: 14rem;
    text-indent: -14rem;
    margin-bottom: .7rem;
  }
}

dd.blacklight-status-location, 
dt.blacklight-status-location {
  margin-top: 10px;
}
 
/*end availability*/
.search_q {
  height: 38px;
}

.list-inline {
  &.freq-databases {
    @media (min-width: 530px) {
    display: flex;
    }
  }
  @media (min-width: 930px) {
    display: flex;
  }
}


.list-inline li {
  flex: 1;
  text-align: center;
}

body {
  color: $text-black;
  font-family: $font-family;
  background-color: $background;
}

.sr-only.application-heading {
  display: none;
}

h1, h2, h3 {
  color: $upenn-blue;
}
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
    border: dotted 1px #eee;
}
.nav > li.nameuser > a:hover {
    border: none;
}
span.site-name {
  position: relative;
  top: 20px;
}

span.site-name,
span.site-name a {
  font-size: 40px;
  color: $text-white;
  font-family: 'Gentium Book Basic', serif;
  text-shadow: 2px 2px 2px #000;
}

button.toggle span.avail-label::after {
  content: "  \e114";
  font-family: 'Glyphicons Halflings';
}

dd.btn-group.unauthenticated {
  margin-left: 0;
}

div[id^="table-wrapper"] {
  padding: 6px;
}

div.backbutton-top {
  margin-bottom: 10px;
}

table[id^="requestOptions"] tr.even,
table[id^="holdingItems"] tr.even {
  background: #ececec;
}

table[id^="requestOptions"] td,
table[id^="holdingItems"] td {
  vertical-align: top;
}

/*************
*
* Overriding Blacklight styles
*
**************/



.navbar-header {
  /* match height of bg image */
  height: 99px;
}

.navbar-btn-group {
  padding: 10px 0 0 15px;
  line-height: 20px;
}

.user-first-name {
  color: #faa755;
}

.navbar-nav > li > div > a {
  color: white;
}

.row {
  margin: 0;
}

@media (min-width: 768px) {
  #header-navbar .navbar-toggle {
      display: block;
  }
}
@media (min-width: 900px) {
  #header-navbar .navbar-toggle {
      display: none;
  }
}

.accessibility_button {
    color: #0778b3;
    display: block;
    position: fixed;
    left: 99999px;
    background-color: #fff;
    &:focus {
      position: relative;
      height: auto;
      line-height: inherit;
      padding: .5rem;
      top: -1.5rem;
      left: 0;
    }
}
@media (min-width: 768px) {

  .navbar-header {
    /* without min-width at 320px at least, Safari will render site-name below the logo image. sigh. */
    min-width: 320px;
  }

  .navbar-nav > li > div {
    color: white;
  }

  .navbar-nav > li > div > a {
    color: white;
  }

  #search_field, #search_field_databases {
    width: 200px;
  }

  .col-sm-2 {
    width: 16%;
  }

}

@media (max-width: 768px) {
  .navbar-brand {
    clear: break;
  }

  #search_field, #search_field_databases {
    width: 80px;
  }

  #search-navbar .search-query-form {
    padding-left: 15px;
  }
}

.search-widgets > a {
  font-size: 16px;
}

.page_links {
  font-size: 16px;
}

// add more padding to default btn class
.btn {
  padding: 8px 18px;
}
/*REQUEST*/
.btn-primary, .btn-primary:focus {
  background-color: $geit-blue;
  border-color: $geit-blue;
}

.btn-primary:hover {
  background-color: $upenn-blue;
}
.btn-get-it  {
  padding: .5rem;
  margin-top: .8rem;
  width: 12.3rem;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: .5rem;
}

.btn-default.dropdown-toggle {
  white-space: normal;
}

.getit-caret.glyphicon-chevron-down, .getit-caret.glyphicon-chevron-up {
  top: 2px;
  left: 2px;
}

.item-request-section-index {
  margin-bottom: 10px;
  padding-left: 3.5rem;
  @media (min-width: 768px) {
    padding-left: 1.9rem;
  }
  @media (min-width: 992px) {
    padding-left: 3.4rem;
  }
  @media (min-width: 1200px) {
    padding-left: 0;
  }
  .panel-body {
    margin-bottom: -15px;
  }
  .request-form .request-button {
    margin-bottom: .5rem;
  }
}
.item-request-widget.panel {
  margin-left: -3.5rem;
  @media (min-width: 768px) {
    margin-left: 0;
  }
}


.item-request-section-show {
  padding: 0 0;
  display: inline-block;
  width: 100%;
  @media (min-width: 960px) {
    margin-left: 20rem;
    width: 77%;
  }
  @media (min-width: 1060px) {
    width: 80%;
  }
    
}
@media (min-width: 1200px) {
    .item-request-section-show,
    hr {
      margin-left: 20rem;
    }
}
/*RECORD*/
.bottom-fields h2 {
  @media (min-width: 768px) {
    width: 18rem;
    text-align: right;
  }
  
}
.record-main-details .dl-horizontal.dl-invert,
.bottom-fields dl.dl-horizontal.dl-invert {
  dt {
    font-weight: bold;
    color: #000;
    font-size: 1.5rem;
    margin: 1rem 0 .5rem;
  }
  @media (min-width: 768px) {
    dt {
      font-weight: normal;
      color: $grey-text;
      font-size: 1.7rem;
      margin: 0;
    }
  }

}
.cover-image.cover-show {
  font-size: 80px;
  padding-top: 20px;
  margin-left: 30px;
  position: relative;
}

/*  END HEADER?  */
/*  NEW HEADER CSS 165-416  */
header {
  background-color: #011f5b;
  min-height: 12.3rem;
}


/*login button*/
.btn-default,
.facets-toggle {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/*xxxxxxxxxxxxxxxxxxxx*/

#navandidbar  {
  background-image: none;
  background-color: transparent;
  padding: 0;
  width: 40rem;
  max-width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
  /*login button*/
  ul.nav.navbar-nav {
    display: block;
    width: auto;
    padding: 0 0 0 0;
    width: 40rem;
    max-width: 100%;
    margin-right: 0;
    @media (min-width: 700px) {
      float: right;
      padding-right: 2.4rem;
    }
    @media (min-width: 768px) {
      padding-right: 1rem;
    }
    .nameuser {
      width: 100%;
      max-width: 100%;
      text-align: right;
      padding: 0;
      display:block;
      @media (min-width: 450px) {
        @include inline-block;
        width: 30rem;
      }
      a {
        display:block;
        padding: 1.1rem .5rem 1rem 1.5rem;
        color: #70bcf9;
        .user-first-name,
        &:hover, &:focus {
          color: #f2c100;
        }
      }
    }

    .btn-default {
      font-size: 12px;
      line-height: 1.5;
      padding: 5px 10px;
      line-height: 1.5;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-top: -.5rem;
    }
    .nameuser,
    .destroysession,
    .loginbutton {
      vertical-align: top;
      .dropdown-menu {
        z-index: 1001;
        left: -8.3rem;
        width: 15rem;
        margin: 0;
        background: #fff;
        position: absolute;
        max-height: 6rem;
        @media (min-width: 450px) {
          left: -22.3rem;
          width: 30rem;
          max-height: 8rem;
        }
        li {
          margin-top: -.5rem;
          @media (min-width: 450px) {
            margin-top: 0;
          }
          &.divider {
            margin-top: 0;
          }
          .desktop {
            @include accessible-hide;
            @media (min-width: 450px) {
              @include accessible-unhide;
            }
          }
          .mobile {
            @media (min-width: 450px) {
              display:none;
            }
          }
        }
      }
    }
    .destroysession,
    .loginbutton {
      @include inline-block;

    }
    .destroysession,
    .loginbutton {
      float:right;
    }
    .destroysession {
      width: 6.5rem;
      .btn.btn-default.btn-sm {
        width: 6.27rem;
        margin-top: .6rem;
      }
    }
    .loginbutton {
      width: 8rem;
    }
  }
}





/*xxxxxxxxxxxxxxxxxxxx*/
body header #search-navbar div.container {
  @media (min-width: 800px) {
    width: 100% !important;
  }
}
#header-navbar {

  background-color: #011f5b;
  padding-top: 5.8rem;
  @media (min-width: 670px) {
    padding: 2rem 0 2rem 1.9rem;

  }
  @media (min-width: 900px) {
    padding: 2.7rem 2rem 1.7rem;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }
  /*brand*/
  .navbar-header {
    /* position: relative;*/
    position: static;
    float: left;
    width: 90%;
    height: 5.8rem;
    margin: 0 4% 0 5.5%;
    padding-right: 0;
    max-width: 100%;
    @media (min-width: 380px) {
      margin-bottom: 1rem;
    }
    @media (min-width: 670px) {
      width: 19rem;
      margin: 0;
    }

    @media (min-width: 900px) {
      width: 24rem;
      height: 5.8rem;
      padding-right: 4.3rem;
    }
    @media (min-width: 1150px) {
      width: 46rem;
      height: 6.5rem;
      padding-right: 6rem;
    }

  }

}
#header-navbar .navbar-header {
  #logobg {
    background-image: asset-url('franklin-double-logo6.svg');
    background-repeat: no-repeat;
    width: 100%;
    max-width: 42.5rem;
    height: 6rem;
    margin: 0;
    background-size: 100% auto;
    background-position: 0 0;
    @media (min-width: 670px) {
      width: 37.5rem;
    }

    @media (min-width: 800px) {
      width: 42rem;
    }
    .logolink {
      height: 5rem;
      display:block;
      float: left;
      &.lib {
        width: 59.7%;
      }
      &.franklin {
        width: 39.7%;
      }
      .logoimg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.nav>li {
    position: static!important;
}

#articles-search-navbar > .summon-form {
  padding-bottom: 0;
}

#li-bookmarks {
  float: left;
  width: 16rem;
  margin-top: 2px;
  padding-bottom: 1rem;

  @media (min-width: 768px) {
    padding: 1.6rem 0 0 3rem;
  }
  #bookmarks_nav {
    color: #fff;
    font-size: 1.5rem;
  }
}
#catalog-search-navbar,
#databases-search-navbar {
  #li-bookmarks {
    float: right;
    width: auto;
    padding: 0.5rem 0.1rem 0 0;
    @media (min-width: 555px) {
      padding: 2.5rem 1.5rem 0 3rem;
    }
    @media (min-width: 768px) {
      padding: 1.5rem 0 0 3rem;
    }
    @media (min-width: 855px) {
      padding: 2.1rem 0 0 3rem;
      width: 15rem;
    }
  }
}

.inline {
  display: inline;
  margin: 0;
}

.landing-content .heading {
  font-weight: bold;
  color: $upenn-red;
  font-size: 1.17em;
}

.landing-content {
  padding-bottom: 2em;
}

.minishield {
  background-image: asset-url('ptswirl-11px.gif');
  background-position: 1px 6px;
  background-repeat: no-repeat;
}

#sortAndPerPage {
  border-bottom: none;
  padding: 1rem 0 0;
  margin-bottom: 0;
}
#appliedParams,
#content #sortAndPerPage {
  margin-left: -2.4rem;
  @media (min-width: 551px) {
    margin-left: -1.4rem;
  }
  @media (min-width: 768px) {
    margin-left: -1rem;
  }
  @media (min-width: 1200px) {
    margin-left: .4rem;
  }
}
.search-results-row .col-xs-10 {
    padding-left: 2.5rem;
    @media (min-width: 1200px) {
      padding-left: 0;
    }
}
div.pagination {
  margin-left: -3.7rem;
  
  
  @media (min-width: 551px) {
    margin-left: -2.7rem;
  }
  @media (min-width: 768px) {
    margin-left: -2.3rem;
  }
  
}


#documents .document {
  
  padding-left: 0;
  margin-left: -1.3rem;
  border-bottom: 1px dotted #d0d0d0;
  @media (min-width: 768px) {
    padding-left: 1.6rem;
    margin-left: -.7rem;
  }
  @media (min-width: 992px) {
    padding-left: 0;
  }
  @media (min-width: 1200px) {
    padding-left: 4rem;
  }
  .search-results-row .col-md-10 {
    padding-left: 5rem;
    @media (min-width: 768px) {
      padding-left: 3.3rem;
    }
    @media (min-width: 1200px) {
      padding-left: 0;
    }
  }
  .document-title-heading {
    line-height: 1.42857143;
    margin-left: -3.5rem;
    position: relative;
    .document-counter {
      font-size: 16px;
      position: relative;
      
      /*transform: translateY(-50%);*/
      box-sizing: border-box;
      display: inline-block;
      right: auto;
      text-align: right;
      padding: 0 .2rem;
      width: 5rem;
      height: 2.4rem;
      left: -2.3rem;
      top: 2.55rem;
      
      &.three-digit {
        width: 3rem;
        left: -.5rem;
      }
      &.four-digit {
        width: 3.6rem;
        left: -1rem;
      }
      &.five-digit {
        width: 4.4rem;
        left: -1.9rem;
      }
    }
    a {
      margin-left: 3.5rem;
      display:block;
    }
  }
  

}



.direct-link-trigger {
  cursor: pointer;
}

.direct-link-popup {
  position: absolute;
  bottom: 2em;
  right: .5em;
  background-color: #fff;
  padding: .25em 0 .25em .5em;
  border: solid 1px #bbb;
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.35);
}

.direct-link-close {
  border: solid 1px #ccc;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 0.92em;
  line-height: 100%;
  margin: -.08em 2px 0 .5em;
  padding: 2px 4px 2px 3px;
}

.footer-bar {
  background-image: asset-url('holdnumbers.png');
  background-repeat: repeat-x;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
}

.footer-bar a, .footer-bar a:visited, .footer-bar a:hover {
  color: #000;
  background-color: transparent;
}

.footer-bar-links-right {
  float: right;
}

.footer-bar-links-right .link-item {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  font-family: "Open Sans", sans-serif;
  background-color: #011f5b;
  min-height: 5em;
  font-size: 14px;
  padding: 2rem 2rem 4rem;
  color: #eee;
  > .container {
    margin: 0 auto;
    .col-sm-3.two,
    .col-sm-3.three {
      margin-top: 3rem;
    }

    @media (min-width: 768px) {
      max-width: 85rem;
      .col-sm-3.one,
      .col-sm-3.two {
        width: 37%;
      }
      .col-sm-3.three {
        width: 25%;
      }
      .col-sm-3.two,
      .col-sm-3.three {
        margin-top: 0;
      }
    }
  }
}

.footer h2 {
  color: #eee;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 100%;
  text-align: left;
  margin-top: 2.27em 0 0 0;
  font-weight: normal;
}

ul.footerlinks {
  list-style-image: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-left: 0;
}

.footerlinks li {
  line-height: 140%;
  margin: 0.63em 0 0 3.36em;
  text-indent: -3.36em;
}

.footer a, .footer a:visited {
  color: #eee;
}

.footer a:hover, .footer a:visited:hover {
  color: #eee;
  text-decoration: underline;
}

.footer .copyright {
  font-size: .92em;
  padding-top: 2.5em;
  color: #eee;
  line-height: 130%;
}

.footer .copyright a, .contact a:visited {
  color: #eee;
}



#marc_view .sub_code {
  font-weight: bold;
}

/*******
 *
 * bento_search styles
 *
 *******/

.bento_item_title {
  font-size: 16px;
}

/* made to resemble "#documents .document" rule in BL */
.bento_item {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 6px;
  border-bottom: 1px dashed #d2d2d2;
}

.bento_item:nth-child(even) {
  background: #ececec;
}

/* this copies some weird css from Blacklight in order to get bento_item's
bg color to fill document-metadata's bottom margin */
.bento_item::after {
  content: " ";
  display: table;
}

.bento_item_about {
  display: none;
}

.libraries-results {
  padding: 0px;
}

.view-and-filter {
  padding: 6px;
  background: #ececec;
}

/*******
 *
 * summon form styles
 *
 *******/

.summon-form .limit-options {
  margin-top: 2px;
}

.summon-form .limit-options label {
  margin-right: 2em;
}

.summon-results .summon-alert {
  background-color: #fcf8e3;
  padding: 0.5em;
}

.ezproxy-is-logged-in .ezproxy-show-not-logged-in,
.ezproxy-is-not-logged-in .ezproxy-show-logged-in {
  display: none;
}

.ezproxy-is-not-logged-in .ezproxy-show-not-logged-in,
.ezproxy-is-logged-in .ezproxy-show-logged-in {
  display: relative;
}

/*******
 *
 * collection news styles
 *
 *******/

h3.ongray {
  font-weight: bold;
  background-color: #eee;
  margin-bottom: 9px;
  font-style: normal;
  padding-left: 36px;
  color: #000;
}


.colnews {
  .colnewsheader .colnewslabel h3 {
    font-size: 2rem;
    margin: 1.5rem 0;
  }
  .morenews {
    margin-bottom: 2rem;
  }
  .feed-item span {
    color: $grey-text;
  }
}



.collection-news {
  line-height: 145%;
}
.feed-item {
  margin: 0 0 .75em 0;
}
.collection-news .item-title {
  font-weight:bold;
}
.feed-item span {
  text-transform: uppercase;
  color: #888;
  font-size: 0.92em;
}



.availability-loading-error {
  color: #9c0a00;
}

.online-resource-link-group {
  margin-bottom: 1em;
}

.online-resource-extra-links {
  display: none;
}

.volumes-available {
  margin-top: 1em;
}

@media (min-width: 768px) {
  dt.blacklight-other_records {
    padding-top: 6px;
  }
}

/*dark gradient: selected tab and search button*/
.nav-tabs li.active,
#search {
  background: #3d5b7b;
  background: -moz-linear-gradient(top,  #4a7eb3 0%, #3d5b7b 100%);
  background: -webkit-linear-gradient(top,  #4a7eb3 0%,#3d5b7b 100%);
  background: linear-gradient(to bottom,  #4a7eb3 0%,#3d5b7b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7eb3', endColorstr='#3d5b7b',GradientType=0 );

}
/*  xxxxxxxxxxx   NEW SEARCH  805-971  xxxxxxxxxxxxx  */



.navbar-default .navbar-form,
.navbar-form.tools-basic-bookmarks {
    border-color: transparent;
    border: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: inset none;

    a {
      position: relative;
      z-index: 3005;
      cursor: pointer;
      top: 1rem;
      @media (min-width: 555px) {
        left: 1rem;
        top: -1rem;
      }
      @media (min-width: 768px) {
        top: 0;
      }
    }
}
.blacklight-advanced {
  h1.franklin-title {
    float:none;
    @media (min-width: 800px) {
      float: none;
    }
    @media (min-width: 900px) {
      float: left;
    }
  }
  h2.query-criteria-heading,
  .sort-submit-buttons {
    label {
      display: inline;
      margin-bottom: 0;
      font-weight: inherit;
    }
  }
  .advanced_search {
    fieldset {}
  }
  .advanced-search-field label {
    display: inline;
  }
  h2.query-criteria-heading {
    font-size: 1.5rem;
    font-weight: normal;
  }
}
h1.franklin-title {
    width: 15.3rem!important;
    height: 3.2rem!important;
    background-image: asset-url('franklin-title18.svg');
    background-repeat: no-repeat;
    background-size: 85%;
    float:none;
    @media (min-width: 850px) {
      float: left;
    }
    font-family: Perpetua, 'Gentium Basic', 'Times New Roman', serif;
    color: #fff;
    font-size: 42px;
    margin: 1.3rem 2.1rem 0 0;
    @media (min-width: 560px) {
      margin: 1.3rem 3.1rem 0 0;
    }
    padding: 0;
}
/*???*/
#search-navbar.navbar-default {

  #catalog-search-navbar,
  #databases-search-navbar {
    .navbar-form.tools-basic-bookmarks {
        @media (min-width: 768px) {
          padding-left: 0;
        }
      a.advanced_search {
        top: 0.75rem;
        @media (min-width: 555px) {
          left: 0;
        }
        @media (min-width: 855px) {
          top: 1.5rem;
          left: 2.5rem;
        }
      }
    }
  }
}


.blacklight-advanced {
  .page-header {
    padding-left: 15px;
    padding-right: 15px;
    .advanced-search-start-over {
      margin-top: -7px;
    }
  }

  .sort-buttons {
    margin-bottom: 10px;
  }

  hr {
    margin-left: -15px;
    margin-right: -15px;
  }

  #search-navbar.navbar-default .tab-content  {
    #catalog-search-navbar,
    #databases-search-navbar {

      @media (min-width: 768px) {
        margin: 0 auto;
        height: 4rem;
      }
      form.search-query-form.navbar-form {
        max-width: 95%;
        width: 40rem;
        @media (min-width: 670px) {
          width: 45rem;
        }
        .input-group-addon {
          max-width: 15rem;
        }
      }

      .navbar-form.tools-advanced-bookmarks  {
        float: left;
        top: -.5rem;
        width: 100%;
        padding-top: 0;
        margin-bottom: 1.4rem;
        @media (min-width: 768px) {
          padding-left: 0;
          padding-right: 0.5rem;
        }
        @media (min-width: 785px) {
          margin-top: -.5rem;
          width: auto;
        }
        @media (min-width: 855px) {
          top: 1.5rem;
          margin-top: 0;
        }
        #li-bookmarks {
          top: 0;
          float: right;
          width: auto;
          padding-top: 0.7rem;
          padding-right: 0;
          margin-right: -1.5rem;
          @media (min-width: 722px) {
            padding-top: 0;
            margin-right: -.5rem;
            margin-top: -.2rem;
          }
          @media (min-width: 768px) {
            padding-top: 1.3rem;
            margin-right: 1rem;
          }
          @media (min-width: 785px) {
            padding-top: 2.1rem;
          }
          @media (min-width: 855px) {
            padding-top: 2.6rem;
          }
        }
        a {
          top: 1rem;
          left: 0;
          @media (min-width: 768px) {
            margin-top: -0.5rem;
            margin-bottom: 1.2rem;
          }
          @media (min-width: 785px) {
            margin: 0;
            left: 1rem;
          }
          @media (min-width: 855px) {
            top: 1.5rem;
          }
        }
      }


      .navbar-form.tools-basic-bookmarks{/*basic search*/
        float: left;
        a {
          top: 0;
          @media (min-width: 555px) {
            top: -.5rem;
          }
          @media (min-width: 700px) {
            top: .5rem;
          }
          @media (min-width: 722px) {
            top: 0;
          }
          @media (min-width: 768px) {
            top: 1rem;
          }
        }


      }
      #li-bookmarks {
        @media (min-width: 722px) {
          width: 13rem;
        }
        @media (min-width: 768px) {
          width: 15rem;
        }
        a#bookmarks_nav {
          @media (min-width: 722px) {
            padding-left: 1.5rem;
          }
          @media (min-width: 722px) {
            position: relative;
            top: 2.1rem;
            left: 1rem;
          }
          @media (min-width: 768px) {
            top: 0;
            left: 0;

          }
        }
      }
    }
  }
}
#catalog-search-navbar,
#databases-search-navbar {
  @media (min-width: 768px) {
    .input-group-addon.for-search-field {
       width: 15rem;
    }
  }
  .search-query-form {
    margin-bottom: 1rem;
  }
  @media (min-width: 560px) {
    h1.franklin-title {
      margin: .7rem 0rem 0 0;
    }
  }
  .navbar-form .input-group {
    margin-top: .5rem;
    > .form-control {
      /*width: 27rem;*/
    }
  }
  .input-group input.form-control {
    height: 3.8rem;
  }
  .navbar-form {
    margin-top: .5rem;

  }
}
#articles-search-navbar {
  height: 4.6rem;
}



/*light gradient*/
#search-navbar {
  background: #799bba;
  background: -moz-linear-gradient(top,  #6386ac 0%, #799bba 100%);
  background: -webkit-linear-gradient(top,  #6386ac 0%,#799bba 100%);
  background: linear-gradient(to bottom,  #6386ac 0%,#799bba 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6386ac', endColorstr='#799bba',GradientType=0 );
  clear: all;
}


#search-navbar {
/*search forms*/
  .tab-content {
      padding: 1.5rem;

      .tab-pane {
        margin: 0 auto;
      }

      #bento-search-navbar {
        max-width: 70rem;
        height: 7.5rem;
        @media (min-width: 768px) {
          height: 4.5rem;
        }
      }
      #catalog-search-navbar,
      #databases-search-navbar {
        @media (min-width: 800px) {
          max-width: 79rem;
        }
        @media (min-width: 960px) {
          max-width: 84rem;
        }
        max-width: 84rem;
        height: 6.3rem;
        @media (min-width: 855px) {
          height: 4.5rem;
        }
        form.search-query-form.navbar-form {
          float:left;
          padding: 0;
          margin: 0;
          position: relative;
          z-index: 3000;
          width: 100%;

          @media (min-width: 855px) {
            width: 66%;
            margin: 1rem 0 1rem;
          }

          .input-group {
            /*width: 49rem;*/
            width: 100%;
            input#q {
              width: 26.5rem;
            }
          }
        }
      }
      #articles-search-navbar {
        max-width: 80rem;
        height: 15rem;
        @media (min-width: 768px) {
          height: 10rem;
        }
        @media (min-width: 768px) {
          height: 8rem;
        }
        form.summon-form .limit-options  .checkbox label {
          color: #f2f2f2;
        }
      }
      .search-query-form  {
        float:left;
        width: 90%;
        padding-right: 0;
        margin-top: 0;
        @media (min-width: 768px) {
          margin: 1rem 0 1rem;
          width: 77%;
        }
        .input-group span.input-group-btn {
          width: 4rem;
        }
      }
      /*button*/
      #search {
        border-color: #ccc;
        height: 3.8rem;
        width: 4rem;
        background: #3d5b7b;
        background: -moz-linear-gradient(top,  #4a7eb3 0%, #3d5b7b 100%);
        background: -webkit-linear-gradient(top,  #4a7eb3 0%,#3d5b7b 100%);
        background: linear-gradient(to bottom,  #4a7eb3 0%,#3d5b7b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a7eb3', endColorstr='#3d5b7b',GradientType=0 );
        padding: 0;
        .mag-bg {

          background-image: asset-url('mag-w1pt5.svg');
          background-repeat: no-repeat;
          height: 3.8rem;
          width: 4rem;
          background-size: 26px auto;
          background-repeat: no-repeat;
          background-position: .6rem .45rem;
        }
      }
  }
}

body #search-navbar div.container {
  /*the tabs*/
  width: 100%;
  .franklin-search {
    padding-top: 2rem;
    height: 13rem;
    @media (min-width: 420px) {
      height: 10rem;
    }
    @media (min-width: 455px) {
      height: 10rem;
    }
    @media (min-width: 768px) {
      height: 10rem;
    }
    @media (min-width: 800px) {
      height: 6.5rem;
    }

    position: relative;
    margin: 0 auto;
    max-width: 150rem;
    text-align: center;
    ul.nav.nav-tabs {
        border: none;
        @include inline-block;
        height: 4rem;
        width: 100%;
        max-width: 79rem;

        @media (min-width: 800px) {
          height: 7.5rem;
        }
        @media (min-width: 900px) {
          max-width: 84rem;
        }
        @media (min-width: 960px) {
          max-width: 92rem;
        }
        li.active,
        li {
          .franklin-tab {
            &.bento a, &.bento a:hover, &.bento a:visited, &.bento a:visited:hover, &.bento a:focus,
            a.tab-bento, a.tab-bento:hover, a.tab-bento:visited, a.tab-bento:visited:hover, a.tab-bento:focus {
              background-image: asset-url('bento.png')!important;
              background-repeat: no-repeat;
              background-position: .5rem .5rem;
              background-repeat: no-repeat;
              width: 100%;
              height: 4rem;
              font-weight: normal;
              @media (min-width: 420px) {
                padding-left: 3.5rem;
              }
              @media (min-width: 500px) {
                padding-left: 2rem;
              }
              @media (min-width: 530px) {
                padding-left: 1.2rem;
              }
              @media (min-width: 800px) {
                padding:.8rem 1.2rem 0 4.7rem;
              }
            }
            &:focus {
                outline: #005 auto 1px;
                outline-color: #005;
                outline-style: auto;
                outline-width: 1px;
            }
          }
        }
        li {
            width: 50%;
            margin: 0;
            @media (min-width: 420px) {
                width: 33.2%;
            }
            @media (min-width: 800px) {
                width: 12.7rem;
                min-width: 12.7rem;
                margin: .5rem .17rem 0;
            }
            @media (min-width: 900px) {
                margin: .5rem .5rem 0;
            }
            @media (min-width: 960px) {
                width: 14rem;
                min-width: 14rem;
            }
        }

        li {
            background-color: #fff;
            display: flex;
            border: #ccc 1px solid;
            height: 4rem;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            .franklin-tab {
              margin: 0;
              width: 100%;
              a {
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                color: #333;
                margin: 0;
                padding: .8rem 1.2rem;
                height: 4rem;
                display: block;
                text-align: center;
                cursor: pointer;
                &:hover,
                &:focus {
                  border: none;
                  background: none;
                  color: #337ab7;
                  text-decoration: none;
                  border-radius: 0;
                }

              }
            }
        }
        li.active {
            position: relative !important;
            .franklin-tab a, .franklin-tab a:hover,
            .franklin-tab a:visited, .franklin-tab a:visited:hover,
            a, a:hover, a:visited, a:visited:hover {
                background: none;
                border: none;
                cursor: default;
                color: #fff;
                font-weight: normal;
                text-shadow: 2px 2px 2px #1b3e50;
                text-decoration: none;
            }

            &:before {
              -moz-border-bottom-colors: none;
              -moz-border-left-colors: none;
              -moz-border-right-colors: none;
              -moz-border-top-colors: none;
              border-color: #3d5b7b transparent transparent;
              border-image: none;
              border-style: solid;
              border-width: 0.5em;
              content: "";
              height: 0;
              left: 50%;
              margin-left: -0.5em;
              position: absolute;
              top: 3.8rem;
              width: 0;
            }
        }
    }
  }
}



/*the tabs*/
/*
.franklin-search {
  height: 13rem;
}
#search-navbar div.container  .franklin-search  ul.nav.nav-tabs   li {
    width: 50%;
}

@media (min-width: 42rem) {
  #search-navbar div.container .franklin-search {
    height: 13rem;
  }
  #search-navbar div.container  .franklin-search  ul.nav.nav-tabs   li {
      width: 33%;
  }
}
@media (min-width: 80rem) {
  #search-navbar div.container .franklin-search {
    height: 13rem;
  }
  #search-navbar div.container  .franklin-search  ul.nav.nav-tabs   li {
    width: 14rem;
  }
}
*/

/*    xxxxx   END NEW SEARCH 805-971  xxxxxxx */
/***********
*
* homepage styles
*
***********/

.about-blurb {
  padding: 10px;
}

.other-links {
  @include rounded-corners;
  border: 1px solid #d2d2d2;
  ul {
    padding: 10px;
    line-height: 30px;
  }
  li {
    list-style: none;

  }
}

.bookmark-button .bookmark_toggle .toggle_bookmark {
  min-height: 0;
  padding-top: 0;
  input {
    opacity: 0;
    margin: 0;
  }
  label {
    padding-left: 0;
  }
}

#content.show-document {
  max-width: 1200px;
  margin: auto;
}

.dropdown-menu {
  min-width: 0;
  &.export-formats {
    left: -33px;
  }
}


/***********
*
* bento search box styles
*
***********/

.bento-box {
  @include rounded-corners;
  background-color: #ffffff;
  border: #cdc9c9 1px solid;
  margin: 5px;
  padding: 0px;
  z-index: 10;
}

.bento-box-highlight {
  background-color: #f3f6ba;
}

.bento-box h3 {
  font-family: "Open Sans", sans-serif;
  padding: 0px 10px;
  margin-top: 15px;
}

.bento-box .document {
  padding: 5px;
}

.bento-box .bento_item{
  background-color: transparent;
  padding: 5px;
}

.bento-box .dl-horizontal dd {
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.bento-box dl {
  margin-bottom: 10px;
}

#document dl {
  margin-left: 1px;
  margin-top: 20px;
  @media (min-width: 768px) {
    margin-left: 20px;
  }
}

.view-all {
  background-color: #ececec;
  font-size: 16px;
  padding: 15px 10px;
  text-align: right;
}

.bento-outer {
  padding: 2px;
}

.corner {
  width: 100px;
  height: 80px;
}

.left-top {
  border-left: #337ab7 solid 5px;
  border-top: #337ab7 solid 5px;
  float: left;
  position: absolute;
  z-index: -5;
  top: -10px;
  left: -10px;
}

.right-top {
  border-right: #337ab7 solid 5px;
  border-top: #337ab7 solid 5px;
  float: right;
  position: absolute;
  z-index: -4;
  top: -10px;
  right: -10px;
}

.left-bottom {
  border-left: #337ab7 solid 5px;
  border-bottom: #337ab7 solid 5px;
  float: left;
  position: absolute;
  z-index: -3;
  bottom: -10px;
  left: -10px;
}

.right-bottom {
  border-right: #337ab7 solid 5px;
  border-bottom: #337ab7 solid 5px;
  float: right;
  position: absolute;
  z-index: -2;
  bottom: -10px;
  right: -10px;
}

.no-results {
  padding: 10px;
  span {
    font-weight: bold;
    color: #900;
    font-size: 1.17em;
  }
}

.colenda-thumbnail {
  text-align: center;
  img {
    height: 50px;
    width: 90%;
    object-fit: cover;
  }
}
.colenda-help {
  font-size: 13px;
}

/* hack */
#bento-results-google .source-info {
  display: none;
}

.blacklight-subject_specialists {
  display: none;
}

/* end of hack */

.panel-default > .panel-heading.expert-box {
  color: white;
  background-color: #337ab7;
  border-color: #ddd;
}
.expert-box.panel-heading.collapse-toggle .panel-title:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: white;
    font-size: 1.03em;
    line-height: normal;
}

.expert-box.panel-heading.collapse-toggle.collapsed .panel-title:after {
    font-family: 'Glyphicons Halflings';
    content: "\e113";
    float: right;
    color: white;
    font-size: 1.03em;
    line-height: normal;
}

h3.expert-heading {
  margin-top: 0;
  padding: 0;
}

.expert-chat-link {
  margin: 0 0 5px;
  text-align: center;
}

#libchat_7cde980ad423479da2585a498007774e button.libchat_online {
  font-size: 12px;
  padding: 1px 5px 3px;
  height: 20px;
}

.expert-results {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 235px;
  min-height: auto;
  margin: 0;

  .expert-p {
    margin-bottom: 0;
  }
  .expert-profile {
    padding: 8px;
    font-size: 12px;
    .upper-content {
    }
    .lower-content {
      clear: both;
      padding-top: 3px;
    }
    img {
      @include rounded-corners;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 8px;
    }
    a.link-to-profile {
      font-size: 16px;
    }

    .expert-areas-list {
      h4 {
        color: #727272;
        font-size: 14px;
      }
      li {
        list-style: none;
        margin-left: -30px;
      }
    }
  }
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    @include inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #fcfcfa;
  }
}

.databases-landing-content .heading {
  font-weight: bold;
  color: $upenn-red;
  font-size: 1.17em;
}

.bento_item_body href {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@media (min-width: 1200px) {
  .col-lg-4 {
    width: 32.6%;
  }
}

.visually-hidden,
.sr-only {
  @include accessible-hide;
  color: #000;
  background: #fff;
}

.hidden {
  display: none;
}

.fifty-percent {
  width: 48%;
}

@media (max-width:992px) {
  .fifty-percent {
    width: 98%;
  }
}

#beta-announcement {
  clear: both;
  padding: 5px 10px;
  background-color: $light-grey;
  border-bottom: 1px solid $medium-grey;
}

#beta-label {
  text-align: right;
  font-size: 14px;
}

#beta-label .label {
  background-color: $upenn-lighter-red;
  width: 100px;
  margin-right: 10px;
  font-size: 14px;
}

#beta-label .text {
  text-transform: uppercase;
  color: #ffffff;
}

.container {
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 568px) {

  .bento-box {
    min-width: 300px;
    margin-bottom: 20px;
  }

  .expert-results.bento-box {
    min-width: auto;
    margin-bottom: auto;
  }

}

.bento-all {
  margin-left: auto;
  margin-right: auto;
}

/* Less Google-y */

.gsc-above-wrapper-area {
  display: none;
}

a.gs-title {
  color: #FF0000;
}

.gs-bidi-start-align .gs-visibleUrl .gs-visibleUrl-long {
  display: none;
}

.gs-result .gs-title,
.gs-result .gs-title * {
  color: $upenn-lighter-blue !important;
  text-decoration: none !important;
}

.gs-result .gs-visibleUrl, .gcsc-find-more-on-google {
  display: none !important;
}

.gs-result .gs-snippet {
  font-size: 12px !important;
  padding: 10px !important;
}

.gsc-results {
  padding: 0 !important;
}

.gsc-cursor-box, .gcsc-branding {
  display: none !important;
}

.cse .gsc-control-cse, .gsc-control-cse {
  padding: 0em !important;
}

.gsc-webResult .gsc-result {
  border-bottom: 1px dashed $medium-grey !important;
}

.gs-bidi-start-align .gs-snippet {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* Facets */

h4, .facets .facets-heading, .h4 {
  color: #333333;
}

#facet-group-selector {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

/* Requests */

.request-option-link {
  cursor: pointer;
}

.request-option-list-wrapper {
  margin-top: 8px;
  margin-bottom: 8px;
  display: table;
}

.request-option-wrapper {
  @include rounded-corners;
  display: table;
  width: auto;
  float: left;
  padding: 2px;
}

.request-option-wrapper.highlighted {
  border: 2px solid #337ab7;
  padding: 0px;
}
.sticky-chat {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 99999;
}


/*start font icons
samples:
<span class="icon icon-archive" aria-hidden="true"></span>

<span class="icon icon-archiveb" aria-hidden="true"></span>
*/
@font-face {
  font-family: 'icomoon';
  src:  font-url('icomoon.eot');
  src:  font-url('icomoon.eot?#iefix') format('embedded-opentype'),
        font-url('icomoon.ttf') format('truetype'),
        font-url('icomoon.woff') format('woff'),
        font-url('icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.format-facet .facet-label {
  padding-left: 22px;
  vertical-align: top;
  padding-top: 1px;
}
.format-facet.facet-values .facet-label {
    text-indent: 0;
}



/*from pul*/
.facet-values .icon {
    width: 22px;
    height: 22px;
    display: table-cell;
    background-position: center;
    background-size: contain;
    padding-right: .5em;
    font-size: 1.275em;
    line-height: 1.4em;
}
.icon-archiveb:before {
  content: "\ed00";
}
.icon-bookb:before {
  content: "\ed01";
}
.icon-conferenceb:before {
  content: "\ed02";
}
.icon-datasetb:before {
  content: "\ed03";
}
.icon-databaseb:before {
  content: "\ed04";
}
.icon-equipmentb:before {
  content: "\ed05";
}
.icon-gov-doc-bldgb:before {
  content: "\ed06";
}
.icon-imageb:before {
  content: "\ed07";
}
.icon-journalb:before {
  content: "\ed08";
}
.icon-map-linesb:before {
  content: "\ed09";
}
.icon-microformb:before {
  content: "\ed0a";
}
.icon-msb:before {
  content: "\ed0b";
}
.icon-music-scoreb:before {
  content: "\ed0c";
}
.icon-newspaperb:before {
  content: "\ed0d";
}
.icon-objectb:before {
  content: "\ed0e";
}
.icon-projectorb:before {
  content: "\ed0f";
}
.icon-softwareb:before {
  content: "\ed10";
}
.icon-soundb:before {
  content: "\ed11";
}
.icon-thesisb:before {
  content: "\ed12";
}
.icon-videob:before {
  content: "\ed13";
}
.icon-websiteb:before {
  content: "\ed14";
}
.icon-archive:before {
  content: "\ed15";
}
.icon-book:before {
  content: "\ed16";
}
.icon-conference:before {
  content: "\ed17";
}
.icon-database:before {
  content: "\ed18";
}
.icon-dataset:before {
  content: "\ed19";
}
.icon-equipment:before {
  content: "\ed1a";
}
.icon-gov-doc-bldg:before {
  content: "\ed1b";
}
.icon-image:before {
  content: "\ed1c";
}
.icon-journal:before {
  content: "\ed1d";
}
.icon-map-lines:before {
  content: "\ed1e";
}
.icon-microform:before {
  content: "\ed1f";
}
.icon-ms:before {
  content: "\ed20";
}
.icon-music-score:before {
  content: "\ed21";
}
.icon-newspaper:before {
  content: "\ed22";
}
.icon-object:before {
  content: "\ed23";
}
.icon-projector:before {
  content: "\ed24";
}
.icon-software:before {
  content: "\ed25";
}
.icon-sound:before {
  content: "\ed26";
}
.icon-thesis:before {
  content: "\ed27";
}
.icon-video:before {
  content: "\ed28";
}
.icon-website:before {
  content: "\ed29";
}

/*end font icons*/
