@import 'base/globals.css.scss';
@import 'base/colors.css.scss';

body {
  color: $text-black;
  font-family: $font-family;
}

h1, h2, h3 {
  color: $upenn-blue;
}

span.site-name, span.site-name a {
  font-size: 40px;
  color: $text-white;
  font-style: italic;
}

#search-navbar .nav-tabs {
  margin-top: 4px;
}

/*************
*
* Overriding Blacklight styles
*
**************/

#header-navbar {
  background: $upenn-blue asset-url('orrerybg.jpg') top left repeat-x;

  .navbar-brand {
    background-image: asset-url('logo.png');
    margin-top: 15px;
    margin-bottom: 34px;
  }
}

.btn-primary {
  background-color: $upenn-red;
  border-color: $upenn-blue;
}

.inline {
  display: inline;
  margin: 0;
}

.landing-content h3 {
  font-weight: bold;
  color: #900;
  font-size: 1.17em;
}

.minishield {
  background-image: asset-url('ptswirl-11px.gif');
  background-position: 1px 6px;
  background-repeat: no-repeat;
}

#documents .document {
  margin-top: 0;
  border-bottom: 1px solid #d2d2d2;
}

.documents-list .document:nth-child(even) {
  background: #ececec;
}

/*******
 *
 * bento_search styles
 *
 *******/

.bento_item_title {
  font-size: 14px;
}

/* made to resemble "#documents .document" rule in BL */
.bento_item {
  margin-top: 0;
  padding-top: 6px;
  border-bottom: 1px solid #d2d2d2;
}

.bento_item:nth-child(odd) {
  background: #ececec;
}

.bento_item_about {
  display: none;
}

.view-and-filter {
  padding: 6px;
  background: #ececec;
  border-bottom: 1px solid #d2d2d2;
}

/*******
 *
 * summon form styles
 *
 *******/

.summon-form .limit-options {
  margin-top: 2px;
}

.summon-form .limit-options label {
  margin-right: 2em;
}

/*******
 *
 * collection news styles
 *
 *******/

h3.ongray {
  font-weight: bold;
  background-color: #eee;
  margin-bottom: 9px;
  font-style: normal;
  padding-left: 36px;
  color: #000;
}

.colnews h3 {
  margin-top:0;
  background-color: #e8e8e8;
  color: #444;
  font-style:normal;
  font-size: 1.08em;
  padding: .08em .33em .33em .33em;
  letter-spacing: .02em;
}
.colnews h3.colnewsheader .colnewslabel {
  display:inline-block;
  vertical-align: top;
  /*IE Hack*/
  zoom: 1;
  *display: inline;
}
.colnews h3.colnewsheader .colnewslabel div {
  padding-top:1em;
}
.colnews h3.colnewsheader .colnewslabelicon {
  display:inline-block;
  vertical-align:top;
  /*IE Hack*/
  zoom: 1;
  *display: inline;
  width: 3.91667em;
  background-image: asset-url('news.png');
  background-repeat: no-repeat;
  height: 2.2em;
  width: 2.75em;
}

.collection-news {
  line-height: 145%;
}
.feed-item {
  margin: 0 0 .75em 0;
}
.collection-news .item-title {
  font-weight:bold;
}
.feed-item span {
  text-transform: uppercase;
  color: #888;
  font-size: 0.92em;
}
