@import 'base/globals.css.scss';
@import 'base/colors.css.scss';
@import 'base/mixins.css.scss';

@media screen and (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 1700px;
  }
}

.list-inline {
  display: flex;
}

.list-inline li {
  flex: 1;
  text-align: center;
}

body {
  color: $text-black;
  font-family: $font-family;
  background-color: #F4F8FF;
}

.sr-only.application-heading {
  display: none;
}

h1, h2, h3 {
  color: $upenn-blue;
}

span.site-name {
  position: relative;
  top: 20px;
}

span.site-name, span.site-name a {
  font-size: 40px;
  color: $text-white;
  font-family: 'Gentium Book Basic';
  text-shadow: 2px 2px 2px #000000;
}


button.btn-request-option {
  padding: 3px;
  margin: 2px 2px 16px 2px;
  border-color: #aaa;
}

button.btn-request-options,
button.btn-request-options:focus,
button.btn-request-options:active {
  margin-left: 16px;
  background-color: white;
  border-color: #204d74;
  color: black;
}

button.btn-request-options:hover {
  background-color: #e6e6e6;
  color: black;
}

button.toggle {
  margin-bottom: 20px;
}

button.toggle span.avail-label::after {
  content: "  \e114";
  font-family: 'Glyphicons Halflings';
}

dd.btn-group.unauthenticated {
  margin-left: 0px;
}

div[id^="table-wrapper"] {
  border: 1px solid #77F;
  padding: 6px;
}

div.backbutton-top {
  margin-bottom: 10px;
}

/*************
*
* Overriding Blacklight styles
*
**************/

#header-navbar {
  background: $upenn-blue asset-url('orrerybg.jpg') top left repeat-x;
  .navbar-brand {
    background-image: asset-url('logo.png');
    margin-top: 20px;
  }
}

.navbar-header {
  /* match height of bg image */
  height: 99px;
}

.navbar-btn-group {
  padding: 10px 0 0 15px;
  line-height: 20px;
}

.user-first-name {
  color: #c60;
}

.navbar-nav > li > div > a {
  color: white;
}

.row {
  margin-left: 25px;
  margin-right: 25px;
}

@media (min-width: 768px) {

  .navbar-header {
    /* without min-width, Safari will render site-name below the logo image. sigh. */
    min-width: 300px;
  }

  .navbar-nav > li > div {
    color: white;
  }

  .navbar-nav > li > div > a {
    color: white;
  }

  #search_field {
    width: 200px;
  }

  .col-sm-2 {
    width: 20%;
  }

}

@media (max-width: 768px) {
  .navbar-brand {
    clear: break;
  }

  #search_field {
    width: 80px;
  }

  #search-navbar .search-query-form {
    padding-left: 15px;
  }
}

.btn-primary {
  background-color: $upenn-red;
  border-color: $upenn-blue;
}

.inline {
  display: inline;
  margin: 0;
}

.landing-content .heading {
  font-weight: bold;
  color: #900;
  font-size: 1.17em;
}

.landing-content {
  padding-bottom: 2em;
}

.minishield {
  background-image: asset-url('ptswirl-11px.gif');
  background-position: 1px 6px;
  background-repeat: no-repeat;
}

#sortAndPerPage {
  border-bottom: 1px dashed #d2d2d2;
}

#documents .document {
  margin-top: 0;
  border-bottom: 1px dashed #d2d2d2;
}

.documents-list .document:nth-child(even) {
  background: #ececec;
}

#documents .document .document-title-heading {
  line-height: 1.42857143;
}

.direct-link-trigger {
  cursor: pointer;
}

.direct-link-popup {
  position: absolute;
  bottom: 2em;
  right: .5em;
  background-color: #fff;
  padding: .25em 0 .25em .5em;
  border: solid 1px #bbb;
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.35);
}

.direct-link-close {
  border: solid 1px #ccc;
  cursor: pointer;
  display: block;
  float: right;
  font-size: 0.92em;
  line-height: 100%;
  margin: -.08em 2px 0 .5em;
  padding: 2px 4px 2px 3px;
}

.footer-bar {
  background-image: asset-url('holdnumbers.png');
  background-repeat: repeat-x;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 2em;
}

.footer-bar a, .footer-bar a:visited, .footer-bar a:hover {
  color: #000;
  background-color: transparent;
}

.footer-bar-links-right {
  float: right;
}

.footer-bar-links-right .link-item {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  font-family: "Source Sans Pro","Arial Unicode MS",Helvetica,sans-serif;
  background-color: #dfdfdf;
  background-image: asset-url('footerboxshadow.png');
  background-repeat: repeat-x;
  min-height: 5em;
  font-size: 12px;
  padding-bottom: 4em;
}

.footer h2 {
  color: #333333;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 100%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 2.27em;
}

ul.footerlinks {
  list-style-image: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-left: 0;
}

.footerlinks li {
  line-height: 140%;
  margin: 0.63em 0 0 3.36em;
  text-indent: -3.36em;
}

.footer a, .footer a:visited {
  color: #000;
}

.footer a:hover, .footer a:visited:hover {
  color: #c60;
}

.footer .contact {
  font-size: .92em;
  padding-top: 2.5em;
  color: #666;
  line-height: 130%;
}

.footer .contact a, .contact a:visited {
  color: #666;
}

.footer .googlelabel h3 {
  color: #000;
  font-size: 1em;
  margin: 3.27em 0 0 0 !important;
  background: transparent;
  font-style: oblique;
  font-weight: bold;
}

#marc_view .sub_code {
  font-weight: bold;
}

/*******
 *
 * bento_search styles
 *
 *******/

.bento_item_title {
  font-size: 16px;
}

/* made to resemble "#documents .document" rule in BL */
.bento_item {
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 6px;
  border-bottom: 1px dashed #d2d2d2;
}

.bento_item:nth-child(even) {
  background: #ececec;
}

/* this copies some weird css from Blacklight in order to get bento_item's
bg color to fill document-metadata's bottom margin */
.bento_item::after {
  content: " ";
  display: table;
}

.bento_item_about {
  display: none;
}

.view-and-filter {
  padding: 6px;
  background: #ececec;
}

/*******
 *
 * summon form styles
 *
 *******/

.summon-form .limit-options {
  margin-top: 2px;
}

.summon-form .limit-options label {
  margin-right: 2em;
}

.summon-results .summon-alert {
  background-color: #fcf8e3;
  padding: 0.5em;
}

.ezproxy-is-logged-in .ezproxy-show-not-logged-in,
.ezproxy-is-not-logged-in .ezproxy-show-logged-in {
  display: none;
}

.ezproxy-is-not-logged-in .ezproxy-show-not-logged-in,
.ezproxy-is-logged-in .ezproxy-show-logged-in {
  display: relative;
}

/*******
 *
 * collection news styles
 *
 *******/

h3.ongray {
  font-weight: bold;
  background-color: #eee;
  margin-bottom: 9px;
  font-style: normal;
  padding-left: 36px;
  color: #000;
}

.colnews .heading {
  margin-top:0;
  margin-bottom: 10px;
  background-color: #e8e8e8;
  color: #444;
  font-style:normal;
  font-size: 1.08em;
  font-weight: bold;
  padding: .08em .33em .33em .33em;
  letter-spacing: .02em;
}
.colnews .colnewsheader .colnewslabel {
  display:inline-block;
  vertical-align: top;
  /*IE Hack*/
  zoom: 1;
  *display: inline;
}
.colnews .colnewsheader .colnewslabel div {
  padding-top:1em;
}
.colnews .colnewsheader .colnewslabelicon {
  display:inline-block;
  vertical-align:top;
  /*IE Hack*/
  zoom: 1;
  *display: inline;
  width: 3.91667em;
  background-image: asset-url('news.png');
  background-repeat: no-repeat;
  height: 2.2em;
  width: 2.75em;
}

.collection-news {
  line-height: 145%;
}
.feed-item {
  margin: 0 0 .75em 0;
}
.collection-news .item-title {
  font-weight:bold;
}
.feed-item span {
  text-transform: uppercase;
  color: #888;
  font-size: 0.92em;
}

.availability-details-iframe {
  height: 17em;
}

.availability-loading-error {
  color: #50c878;
}

.online-resource-link-group {
  margin-bottom: 1em;
}

.online-resource-extra-links {
  display: none;
}

.volumes-available {
  margin-top: 1em;
}

@media (min-width: 768px) {
  dt.blacklight-other_records {
    padding-top: 6px;
  }

}


/*******
 *
 * experimental new bento look and feel
 *
 *******/

.franklin-search {
  margin: 0 auto;
  max-width: 1500px;
  text-align: center;
}

.nav-tabs {
  border: none;
  display: inline-block;
}

.nav-tabs li.active a {
  color: #FFFFFF;
  background: none;
  border: none;
  cursor: default;
}

.nav-tabs li.active  a:hover, .nav-tabs li.active a:focus {
  background: none;
  border: none;
  text-decoration: underline;
  color: #FFFFFF;
}

.nav-tabs li  a:hover, .nav-tabs li a:focus {
  border: none;
  background: none;
  color: #337ab7;
  text-decoration: underline;
  border-radius: 0px;
}

.nav-tabs li a {
  padding: 0px;
  border-radius: 0px;
  margin: auto;
}

.nav-tabs li {
  @include rounded-corners;
  background-color: #FFFFFF;
  border: #cdc9c9 1px solid;
  height: 40px;
  min-width: 140px;
  margin: 5px;
  display: flex;
}

.nav-tabs li .franklin-tab {
  margin: auto; /* Important */
}

.nav-tabs li.active {
  background-color: #337ab7;
  color: #FFFFFF;
  font-weight: bold;
}

/***********
*
* homepage styles
*
***********/

.about-blurb {
  padding: 10px;
}

.other-links {
  @include rounded-corners;
  border: 1px solid #d2d2d2;
  ul {
    padding: 10px;
    line-height: 30px;
  }
  li {
    list-style: none;

  }
}

#bento-search-navbar {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

/***********
*
* bento search box styles
*
***********/

.bento-box {
  @include rounded-corners;
  background-color: #ffffff;
  border: #cdc9c9 1px solid;
  margin: 15px;
  padding: 0px;
  z-index: 10;
  min-height: 250px;
}

.bento-box-highlight {
  background-color: #f3f6ba;
}

.bento-box h3 {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  padding: 0px 10px;
  margin-top: 15px;
}

.bento-box .document {
  padding: 5px;
}

.bento-box .bento_item{
  background-color: transparent;
  padding: 5px;
}

.bento-box .dl-horizontal dd {
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

.bento-box dl {
  margin-bottom: 10px;
}

.view-all {
  background-color: #ececec;
  font-size: 16px;
  padding: 15px 10px;
  text-align: right;
}

.bento-outer {
  padding: 2px;
}

.corner {
  width: 100px;
  height: 80px;
}

.left-top {
  border-left: #337ab7 solid 5px;
  border-top: #337ab7 solid 5px;
  float: left;
  position: absolute;
  z-index: -5;
  top: -10px;
  left: -10px;
}

.right-top {
  border-right: #337ab7 solid 5px;
  border-top: #337ab7 solid 5px;
  float: right;
  position: absolute;
  z-index: -4;
  top: -10px;
  right: -10px;
}

.left-bottom {
  border-left: #337ab7 solid 5px;
  border-bottom: #337ab7 solid 5px;
  float: left;
  position: absolute;
  z-index: -3;
  bottom: -10px;
  left: -10px;
}

.right-bottom {
  border-right: #337ab7 solid 5px;
  border-bottom: #337ab7 solid 5px;
  float: right;
  position: absolute;
  z-index: -2;
  bottom: -10px;
  right: -10px;
}

.no-results {
  padding: 10px;
  span {
    font-weight: bold;
    color: #900;
    font-size: 1.17em;
  }
}

/* hack */
#bento-results-google .source-info {
  display: none;
}

.blacklight-subject_specialists {
  display: none;
}

/* end of hack */

.expert-results {
  display: none;  /* TODO: remove when launching this feature */
  padding: 10px;
  hr {
    border-bottom: 1px dashed #d2d2d2;
  }
  .expert-profile {
    font-size: 12px;
    .upper-content {
    }
    .lower-content {
      clear: both;
      padding-top: 10px;
    }
    img {
      @include rounded-corners;
      width: 100px;
      height: 100px;
      float: left;
      margin-right: 20px;
    }
    a.link-to-profile {
      font-size: 16px;
    }
    .title {
      font-style: italic;
    }
    .expert-areas-list {
      h4 {
        color: #727272;
        font-size: 14px;
      }
      li {
        list-style: none;
        margin-left: -30px;
      }
    }
  }
}


.databases-landing-content .heading {
  font-weight: bold;
  color: #900;
  font-size: 1.17em;
}

#feedback {
  display: none;
  background-image: asset-url('feedback.png');
  background-repeat: no-repeat;
  width: 77px;
  height: 91px;
  background-size: auto 89px;
  position: absolute;
  top: 11.0rem;
  z-index: 15;
  right: 2.5rem;
}

@media (min-width: 768px) {
  #feedback {
    display: block;
  }
}

#feedbacklink {
  cursor: pointer;
  display: block;
  height: 7.7rem;
  width: 8.9rem;
  position: absolute;
  top: 0;
}

#feedbackout {
  cursor: pointer;
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  right: 0;
  top: 7.7rem;
}

.visually-hidden {
  @include accessible-hide;
}

#beta-announcement {
  clear: both;
  padding: 5px 10px;
  background-color: $light-grey;
  border-bottom: 1px solid $medium-grey;
}

#beta-label {
  text-align: right;
  font-size: 14px;
}

#beta-label .label {
  background-color: $upenn-lighter-red;
  width: 100px;
  margin-right: 10px;
  font-size: 14px;
}

#beta-label .text {
  text-transform: uppercase;
  color: #ffffff;
}
