div.section {
    border: 1px solid black;
    padding: 5px;
    margin: 10px auto;
    width: 67%;
}
  
div.section-heading {
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

.control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
}