#document, .document-metadata > li {
  list-style-type: none;
  font-size: 16px;
}



#documents .document .document-title-heading {
  line-height: 1.42857143;
  font-size: 18px;
}

.cover-image {
  font-size: 75px;
  padding-top: 15px;
}

.label-warning {
  color: black;
}
