<div class="navbar-right">
  <h2 class="visually-hidden">Menu</h2>
  <ul class="nav navbar-nav">
    <% if ENV['SHOW_KNOWN_ISSUES'] == 'true' %>
    <li><a style="color:red" href="<%= known_issues_url %>">Known Issues</a></li>
    <% end %>
    <li>
         <!-- <a  href="https://guides.library.upenn.edu/franklinaccount" class="mobile-franklinhelp" id="franklin-help" aria-haspopup="true" aria-expanded="false">
            Franklin Help<span class="precaret"> &nbsp;</span><span class="caret"></span>
          </a> -->
          <a  id="desktop-franklin-help"  class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
            Franklin Help<span class="precaret"> &nbsp;</span><span class="caret"></span>
          </a>
          <button tabindex="0" class="accessibility_button expand_button">show submenu</button>
      
      <div class="dropdown">
          <ul >
            <li><a tabindex="-1" href="https://guides.library.upenn.edu/franklinaccount">Your Library Account</a></li>
            
            <li><a tabindex="-1" href="https://guides.library.upenn.edu/franklincatalog">Using Franklin Catalog</a></li>
            
            <li><a tabindex="-1" href="https://guides.library.upenn.edu/articlesplus">Using Franklin Articles+</a></li>
            
            <li><a tabindex="-1" href="https://guides.library.upenn.edu/usingeresources">Accessing E-Resources</a></li>
        </ul>
      </div>
    </li>
    <li>
        <a href="https://faq.library.upenn.edu/ask">
          Contact us
        </a>
    </li>
    <%= render_nav_actions do |config, action|%>
        <li><%= action %></li>
    <% end %>
  </ul>

  
</div>
