<div class="col-sm-12">

  <iframe style="border: 0; width: 100%; height: 1000px;" src="https://docs.google.com/document/d/14D8how458q_7mdr3dapvQzJ3nx7Lu_T4N8NSX7RT97k/pub?embedded=true&_ts=<%= Time.now.to_i%>"></iframe>

</div>
