<div class="col-sm-12">

  <h3>Known Issues on this Test Server</h3>

  <p>Please do not report these issues. The Discovery team already knows about and is working on them. Thanks!</p>

  <p>
    <b>Call Number Browse</b><br/>
    This doesn't work correctly yet. Coming soon.
  </p>

  <p>
    <b>Data Discrepancies with Current Franklin</b><br/>
    Things to know:
    <ul>
      <li>Our Alma sandbox contains data migrated from Voyager in December 2016.</li>
      <li>Records added to Voyager since then will not be present here or in Alma.</li>
      <li>Changes made in Alma will show up here, and not show up in current Franklin.</li>
      <li>This test server does not yet contain Hathi records.</li>
    </ul>
  </p>

  <p>
    <b>Delayed Updates with Alma</b><br/>
    This test server SHOULD match what you see in Alma, but be aware that changes to data are brought
    over once a day at 10am. This will be more frequent when we launch.
  </p>

  <p>
    <b>Export Options</b><br/>
    Exporting records in RIS and other formats is coming soon.
  </p>

</div>
