<div class="col-sm-12">

  <h3>Known Issues on this Test Server</h3>

  <p>Please do not report these issues. The Discovery team already knows about and is working on them.
    This page gets updated regularly, so check back. Thanks!</p>

  <p>
    <b>Call Number Browse</b><br/>
    <ul>
        <li>This doesn't work correctly yet. Coming soon.</li>
    </ul>
  </p>

  <p>
    <b>Data Discrepancies with Current Franklin</b><br/>
    Things to know:
    <ul>
      <li>Our Alma sandbox contains data migrated from Voyager in December 2016.</li>
      <li>Loans displayed on the Library Account/My Library Card page are also from December 2016.
       But if you change this data in Alma, it should be reflected immediately.</li>
      <li>Records added to Voyager since then will not be present here or in Alma.</li>
      <li>Changes made in Alma will show up here, and not show up in current Franklin.</li>
      <li>This test server does not yet contain Hathi records.</li>
    </ul>
  </p>

  <p>
    <b>Delayed Updates with Alma</b><br/>
    <ul>
        <li>This test server SHOULD match what you see in Alma, but be aware that changes to data are brought
            over once a day at 10am. This will be more frequent when we launch.</li>
    </ul>
  </p>

  <p>
      <b>Broken Links for Electronic Resources</b><br/>
      <ul>
          <li>Links for many electronic resources in both the catalog and Articles+ (Summon) are broken.
              This is due to data migration issues that Ex Libris is working to address. Please don't report these.
          </li>
      </ul>
  </p>

  <p>
    <b>Zotero/Mendeley Export Options</b><br/>
    <ul>
        <li>This is coming soon.</li>
    </ul>
  </p>

  <p>
      <b>My Library Card</b><br/>
      <ul>
          <li>This page incorrectly shows "PennText" branding. This will be fixed soon.</li>
      </ul>
  </p>

  <p>
    <b>Articles+</b><br/>
    <ul>
        <li>Summon pages for Articles+ results will no longer have the sidebar.</li>
    </ul>
  </p>

  <p>
      <b>Request Option</b><br/>
      <ul>
          <li>The "Illiad Test" link is a work in progress. It will take you a page that doesn't yet work.</li>
      </ul>
  </p>

  <h3>Recently Resolved</h3>

  <p>
      <b>RIS &amp; Refworks Export Options</b><br/>
      "Download in RIS format" is now available on the individual
      record page, and on the bookmarks page. "Export to Refworks" has
      been added to the bookmarks page.
  </p>

</div>
