<div class="view-and-filter text-right">
<%= link_to "View and filter #{number_with_delimiter(results.total_items)} #{results.total_items != 1 ? 'results' : 'result'}", summon_url(params[:q] || params[:query]) %>
</div>

<aside class="summon-alert ezproxy-show-not-logged-in"><a class="ezproxy-login-link" href="">Off Campus?  Log in to access full text and more content.</a></aside>

<%= yield %>

<div class="view-all">
  <%= link_to(("View all results #{image_tag('view_all_arrow.png', :alt => '')}").html_safe, summon_url(params[:q] || params[:query])) %>
</div>